.activity-plate {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 40px 65px;
  border: 1px solid #ecf2f4;
  box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .06);
  background-color: #fff;
  position: relative;

  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    padding: 40px 40px 50px;
  }

  @media (max-width: $screen-xs-max) {
    padding-left: 35px;
    padding-right: 30px;
  }

  time {
    position: absolute;
    font-family: $font-family-open-sans;
    color: #b2c1d4;
    font-size: 12px;
    font-weight: 400;
    right: 20px;
    top: 15px;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 60px;

    @media (min-width: $screen-md-min) {
      padding-left: 30px;
    }

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }

  &__item {
    @media (max-width: $screen-md-max) {
      max-width: 140px;
      text-align: center;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 50px;
      max-width: initial;
    }

    h6 {
      font-size: 18px;

      @media (max-width: $screen-xs-max) {
        font-size: 15px;
      }
    }
  }

  &__text {
    flex-basis: 35%;

    @media (max-width: $screen-sm-max) {
      flex-basis: 100%;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 50px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 15px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 35px;
      }
    }

    p {
      font-size: 16px;

      @media (max-width: $screen-sm-max) {
        font-size: 20px;
      }
    }
  }
}
