.activity-plate {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 40px 65px;
  border: 1px solid #ecf2f4;
  box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .06);
  background-color: #fff;
  position: relative;

  &__time {
    position: absolute;
    font-family: $font-family-open-sans;
    color: #b2c1d4;
    font-size: 12px;
    font-weight: 400;
    right: 0;
    top: 15px;
  }

  &__item {
    padding-top: 50px;
  }

  &__text {
    flex-basis: 35%;

    h2 {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }
}
