.header {
  font-size: 18px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__logo {
    margin-right: auto;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 17px;
    color: #747f8b;
    letter-spacing: -.04em;
  }

  &__nav {
    margin-left: 45px;

    @media (max-width: $screen-xs-max) {
      margin-left: 10px;
    }

    &_push-right {
      @media (min-width: $screen-xm-max) {
        margin-left: auto;
      }
    }
  }
}
