include ../../blocks/logo/logo
include ../../blocks/nav/nav

mixin header()
  +b.HEADER.navbar.navbar-white&attributes(attributes)
    .container-fluid
      +logo()
      p.navbar-text.navbar-text-left-auto Join the huge network of brilliant professionals at iamhero.com, make most outstanding resume, be a hero today!
      +nav([{text: 'Sign up now', bordered: true}]).navbar-nav.navbar-nav-right-auto
      +nav([{text: 'Login'}]).navbar-nav
