.header {
  font-size: 18px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  @media (max-width: $screen-xs-max) {

    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .nav-link {
    padding: 15px 5px 12px;
  }

  &__burger {
    border: none;
    padding: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: auto;

    @media (min-width: $screen-lg-min) {
      display: none;
    }

    @media (max-width: $screen-xs-max) {
      margin-left: 20px;
    }

    &.active {

      button {
        background-color: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 0;
        }
      }
    }

    button {
      border: none;
      padding: 0;
      position: relative;
      width: 29px;
      height: 2px;
      background-color: #688595;
      transition: background-color .25s ease-in-out;

      &::before, &::after {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 29px;
        height: 2px;
        background-color: #688595;
        transition: transform .25s ease-in-out, top .25s ease-in-out, bottom .25s ease-in-out;
      }

      &::before {
        top: -12px;
      }

      &::after {
        bottom: -12px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 17px;
    color: #747f8b;
    letter-spacing: -.04em;
    margin-left: auto;
  }

  &__nav {
    margin-left: 45px;

    @media (max-width: $screen-xs-max) {
      margin-left: 10px;
    }

    &_push-right {
      @media (min-width: $screen-lg-max) {
        margin-left: auto;
      }
    }
  }
}
