include ../../blocks/logo/logo
include ../../blocks/nav/nav
include ../../blocks/icon/icons

mixin header()
  +b.HEADER.header&attributes(attributes)
    +e.content.container-fluid
        +logo()
        +e.A(href='#').burger
          button
        +e.A(href='#').user-menu
          +icon('header-hero')
        +e.SPAN.text.hidden-md.hidden-sm.hidden-xs Join the huge network of brilliant professionals at iamhero.com, make most outstanding resume, be a hero today!
        +nav-success([{text: 'Home', bordered: true}]).__nav._hide
        +nav-success([{text: 'Account'}, {text: 'Log out'}]).__nav._push-right.__nav-mobile
