include ../bg-image/bg-image
include ../button/button

mixin plate
  +b.plate&attributes(attributes)
    block

mixin plate-avatar(src)
  +bg-image(src).__avatar&attributes(attributes)
    +button.btn-success.plate__avatar-button Change profile picture

mixin plate-container
  .plate-container
    block
