.plate {
  padding: 60px 60px 80px;
  background-color: #fff;
  margin-top: 35px;

  &_modal {
    padding: 40px 60px 65px;
    overflow: hidden;
  }

  @media (max-width: $screen-sm-max) {
    padding: 60px 35px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 50px 20px;
  }

  &_flex {
    display: flex;
  }

  &_no-padding {
    padding: 0 !important;
  }

  &_mobile-flex {
    @media (max-width: $screen-xs-max) {
      display: flex;
    }
  }

  &_tablet-column {
    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }

  &_relative {
    position: relative;
    z-index: 1;
  }

  &_ratio-container {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    @include ratio(16,9);

    .advice {
      @media (max-width: $screen-md-max) {
        position: absolute;
        z-index: 10;
        background-color: rgba(255, 255, 255, .9);
        left: 0;
        transform: translateY(-50%);
        top: 50%;
      }
    }

    .plate__header-container {
      position: absolute;
      left: 0;
      top: 0;
      padding: 60px;
      width: 100%;
      height: 100%;
      align-items: flex-start;

      @media (max-width: $screen-xs-max) {
        padding: 15px;
      }
    }
  }

  &_fixed-height {
    height: 650px;

    @media (max-width: $screen-sm-max) {
      height: 375px;
    }

    @media (max-width: $screen-xs-max) {
      height: 175px;
      text-align: center;
      padding: 30px 17px;
    }
  }
}
