.plate {
  padding: 60px 65px;
  background-color: #fff;
  margin-top: 35px;

  &_flex {
    display: flex;
  }

  &_no-padding {
    padding: 0;
  }

  &__avatar {
    flex-shrink: 0;
    width: 43%;
    height: 450px;
    cursor: pointer;
  }

  &__avatar-button {
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
  }

  &__header {
    font-size: 53px;
    line-height: 1.2em;
    letter-spacing: -.04em;
    font-weight: 100;
    margin: 0;
  }

  &__info-col {
    display: flex;
    flex-direction: column;
    padding: 33px 25px 33px 60px;
  }

  &__logo {
    margin-left: auto;
  }

  &__hero-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .font-larger, h4 {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .font-large, h3 {
      margin-top: 5px;
      margin-bottom: 0;
    }

    textarea, p {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}
