@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'libs/bootstrap-sass/bootstrap';
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

body {
  font-family: $font-main;
  font-weight: 300;
  color: #374851;
}
