@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'libs/bootstrap-sass/bootstrap';
@import 'helpers/bs-mixins';
@import 'libs/swiper/swiper';
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';
// @import '../../node_modules/selectize/dist/css/selectize';

body {
  font-weight: 300;
}

a {
  transition: all .25s ease-in-out;
}

ol, ul {
  margin: 0;
  padding: 0;
}
// stylelint-disable
a.label:hover {
  color: inherit;
}

input[type='range'] {
  display: none;
}
// stylelint-enable

.checkbox, .radio {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

label {
  font-weight: inherit;
  margin-bottom: 0;
  position: relative;
}

.help-block {
  position: absolute;
  letter-spacing: -.04em;
  font-weight: 700;
  color: #df4116;
  font-size: 14px;
  width: 85%;
  top: 105%;
  text-align: right;
  right: 18px;
  line-height: 1.2em;
}

h2, .h2 {
  @media (max-width: $screen-xs-max) {
    font-size: 46px;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
}

p {
  font-family: $font-family-open-sans;
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

:focus {
  outline: none !important;
}

.input-group-addon {
  font-family: $font-family-open-sans;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  transform: translateY(-50%);
  top: 50%;
  color: $brand-warning;
  border: none;
  background-color: transparent;
  padding: 0;
  width: auto;
}

.form-group {
  position: relative;

  &-with-addon {

    .form-control {
      padding-right: 30px;
    }
  }
}
