extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/bg-image/bg-image
include ../../components/company-profile-card/company-profile-card
include ../../blocks/company-menu/company-menu

block head
  - var pageTitle = 'I Am Hero - Company profile'

block content
  +page._inner-standart
    +bg-image('company-profile/bg.jpg').__top-bg._overlay_blue._inner
    +e.company.container
      .row
        .col-xxl-offset-3.col-xxl-18.col-xl-offset-0.col-xs-24
          +company-profile-card
          +company-menu.__company-menu
