.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px dashed $gray;
  border-radius: 20px;
  height: 100%;
  transition: background-color .25s ease-in-out;
  cursor: pointer;

  &.active {
    background-color: $gray;

    .upload-area__icon {
      fill: #fff;
    }

    .upload-area__text {
      color: #fff;
    }
  }

  &__icon {
    fill: $gray;
    width: 47px;
    height: 30px;
    transition: fill .25s ease-in-out;
  }

  &__text {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: -.04em;
    color: $gray;
    line-height: 1.2em;
    transition: color .25s ease-in-out;
  }
}

.upload-area-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray;
  height: 100%;

  @media (max-width: $screen-sm-max) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
