include ../../blocks/hero-card/hero-card
include ../../blocks/slider/slider

mixin hero-slider()
  +slider.hero-slider&attributes(attributes)
    block nav
      +slider-nav
    +slider-item
      +hero-card('dashboard/hero1.jpg')
        h4 Alexander Salikov
        p.text-grey Fashion photographer, videoblogger, graphic designer
        p.text-success Orlando, USA
    +slider-item
      +hero-card('dashboard/hero2.jpg')
        h4 Emanuel Gatio
        p.text-grey Actor, Producer, Movie director
        p.text-success Los Angeles, USA
    +slider-item
      +hero-card('dashboard/hero3.jpg')
        h4 Ariana Stelis
        p.text-grey Singer, Producer
        p.text-success NY, USA
    +slider-item
      +hero-card('dashboard/hero4.jpg')
        h4 Gordon Riva
        p.text-grey Chief, TV Star
        p.text-success London, United Kingdom
    +slider-item
      +hero-card('dashboard/hero1.jpg')
        h4 Alexander Salikov
        p.text-grey Fashion photographer, videoblogger, graphic designer
        p.text-success Orlando, USA
    +slider-item
      +hero-card('dashboard/hero2.jpg')
        h4 Emanuel Gatio
        p.text-grey Actor, Producer, Movie director
        p.text-success Los Angeles, USA
    +slider-item
      +hero-card('dashboard/hero3.jpg')
        h4 Ariana Stelis
        p.text-grey Singer, Producer
        p.text-success NY, USA
    +slider-item
      +hero-card('dashboard/hero4.jpg')
        h4 Gordon Riva
        p.text-grey Chief, TV Star
        p.text-success London, United Kingdom
