include ../../blocks/list-group/list-group
include ../../blocks/circle/circle

mixin stat-section()
  +b.stat-section&attributes(attributes)
    .container
      .row
        .col-md-12
          +e.text
            h2 Distribution of tokens
            h6 Characteristics
            +list-group
              +list-group-item Symbol: DRT
              +list-group-item Total amount: 1 billion
              +list-group-item Type: ERC20
              +list-group-item Sales total: 35 M
              +list-group-item Token price: 0,10
            h6 Exchanges
            p DRT will be traadable on exchanges. We are currently in discussion with Bittrex, Coinone and ElterDelta
            img(src='assets/images/ico/exchange.jpg')
        +e.circles.col-md-12
          +e.circle.ico-landing__text
            +circle-lazy('0.35', '175')
            p Sold during the ICO
          +e.circle.ico-landing__text
            +circle-lazy('0.50', '175')
            p For distribution to incentivize the ecosystem
          +e.circle.ico-landing__text
            +circle-lazy('0.15', '175')
            p Allocated to stakeholders (advisors, the community, the teaam)
