.input-markup {
  display: flex;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    .btn {
      width: 100%;
    }
  }

  &_tablet {

    &_wrap {
      @media (max-width: $screen-sm-max) {
        flex-wrap: wrap;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-xs-max) {

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    &_tablet {

      &_full {
        @media (max-width: $screen-sm-max) {
          flex-basis: 100%;
          margin-top: 40px;
        }
      }

      &_right {
        @media (max-width: $screen-sm-max) {
          justify-content: flex-end;
        }
      }
    }

    &_vertical {
      flex-direction: column;

      & > :not(:first-child) {
        margin-top: 20px;
      }
    }

    &_grow {
      flex-grow: 1;
    }

    &_divide {

      &_40p {
        flex-basis: 40%;
      }
    }

    &_push {

      &_right {
        @media (min-width: $screen-xs-max) {
          margin-left: auto;
        }
      }
    }

    &_content {

      &_bottom {
        align-items: flex-end;
      }
    }

    &_margin {

      &_left {
        @media (min-width: $screen-sm-min) {
          margin-left: 20px;
        }
      }

      &_both {
        @media (max-width: $screen-xs-max) {
          margin-top: 10px !important;

          & + .input-markup__item {
            margin-top: 10px;
          }
        }

        @media (min-width: $screen-sm-min) {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
