include ../bg-image/bg-image

mixin company-card()
  +b.company-card&attributes(attributes)
    +bg-image.__logo
    +e.content
      +e.H3.title BS Company
      +e.SPAN.branch Luxury alloy wheels
      +e.SPAN.location Los Angeles, USA
      +e.P.text Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
    block
