include ../bg-image/bg-image
include ../icon/icons

mixin company-card(img, title, branch)
  +b.company-card&attributes(attributes)
    +bg-image('company-listing/full.jpg').__full-image
    +e.wrap
      +bg-image('company-listing/'+img+'.jpg').__logo
      +e.content
        +e.H3.title= title
        +e.SPAN.branch= branch
        +e.SPAN.location Los Angeles, USA
        +e.P.text Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
    +e.footer
      +e.BUTTON.toggle-btn.js-company-more
        +icon('plus-border')
        | Show more
      +e.BUTTON.toggle-btn.js-company-less
        +icon('minus-border')
        | Show less
      +e.A(href='#').link
        +icon('dots')
        | Open company profile
