.inner-sidebar {
  background-image: linear-gradient(to bottom, #465d75 0%, #242c3b 100%);
  display: block;
  position: fixed;
  top: 55px;
  width: 55px;
  min-height: 100vh;
  height: 100%;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 46px;
  z-index: 8;
  transform: translate3d(0, 0, 0);
  transition: opacity .25s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  @media (max-width: $screen-sm-max) {
    opacity: 0;
    pointer-events: none;
    background-image: none;
    background-color: rgba(#212a37, .93);
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: $brand-warning;
    }

    .inner-sidebar__item {

      a {
        padding-left: 25px;
        padding-right: 25px;

        svg {
          width: 30px;
          height: 30px;
          stroke: $brand-warning;
        }
      }

      &.active {

        .inner-sidebar__hint {
          color: #000;
        }
      }

      &:not(:first-child) {
        margin-top: 0;
      }
    }

    .inner-sidebar__hint {
      top: -7px;
      left: 75px;
      opacity: 1;
      background-color: transparent;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 0;
    }

    .inner-sidebar__badge {
      right: auto;
      left: 50px;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 35px;

    .inner-sidebar__item {

      a {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .inner-sidebar__hint {
      left: 55px;
    }

    .inner-sidebar__badge {
      left: 40px;
    }
  }

  &__item {
    position: relative;
    list-style-type: none;
    transition: background-color .25s ease-in-out;

    a {
      padding: 10px 13px;
      display: block;
      height: 50px;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: calc(100% - 7px);
      border-left: 55px solid transparent;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      transition: border-color .25s ease-in-out;
    }

    &:not(:first-child) {
      margin-top: 20.5px;
    }

    &:hover {
      background-color: #3a4d62;

      &::after {
        border-left-color: #2e3d4e;
      }

      .inner-sidebar__icon {
        stroke: #fff;
      }

      .inner-sidebar__hint {
        opacity: 1;
        pointer-events: all;
      }
    }

    &.active {
      background-color: #fff;

      &::after {
        border-left-color: #2e3d4e;
      }

      .inner-sidebar__icon {
        stroke: #3b4d62;
      }
    }
  }

  &__hint {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: -.04em;
    line-height: 3.125;
    background-color: #3a4d62;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease-in-out;
    white-space: nowrap;
  }

  &__badge {
    font-family: $font-family-second;
    font-weight: 600;
    position: absolute;
    right: 6px;
    top: 6px;
    padding-left: 2.87px;
    padding-right: 2.87px;
    // padding: 2px 3px;
    font-size: 11px;
    color: #fff;
    background-color: #e2553e;
    line-height: 1.1;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .35);
  }

  &__icon {
    fill: transparent;
    stroke: #c6d2d6;
    transition: stroke .25s ease-in-out;
    width: 100%;
    height: 100%;
    display: block;
  }
}
