include ../icon/icons

mixin inner-sidebar()
  +b.UL.inner-sidebar&attributes(attributes)
    +e.LI.item
      a(href='#')
        +icon('menu-dashboard').__icon
      +e.SPAN.hint Dashboard
    +e.LI.item
      a(href='#')
        +icon('menu-messages').__icon
      +e.SPAN.hint Messages
      +e.SPAN.badge 1
    +e.LI.item
      a(href='#')
        +icon('menu-search').__icon
      +e.SPAN.hint Search
    +e.LI.item.active
      a(href='#')
        +icon('menu-shortlists').__icon
      +e.SPAN.hint Shortlists
    +e.LI.item
      a(href='#')
        +icon('menu-offers').__icon
      +e.SPAN.hint Job Offers
    +e.LI.item
      a(href='#')
        +icon('menu-statistics').__icon
      +e.SPAN.hint Stats
    +e.LI.item
      a(href='#')
        +icon('menu-settings').__icon
      +e.SPAN.hint Settings
