include ../icon/icons

mixin inner-sidebar()
  +b.UL.inner-sidebar&attributes(attributes)
    +e.LI.item
      a(href='#')
        +icon('menu-dashboard').__icon
      +e.SPAN.hint Dashboard
    +e.LI.item
      a(href='#')
        +icon('menu-messages').__icon
      +e.SPAN.hint Messages
      +e.SPAN.badge 1
    +e.LI.item
      a(href='#')
        +icon('menu-search').__icon
      +e.SPAN.hint Hero Search
    +e.LI.item.active
      a(href='#')
        +icon('menu-shortlists').__icon
      span.inner-sidebar__hint Shortlists (
        span.text-warning 14
        |)
    +e.LI.item
      a(href='#')
        +icon('menu-offers').__icon
      +e.SPAN.hint Job Offers
    +e.LI.item
      a(href='#')
        +icon('menu-statistics').__icon
      +e.SPAN.hint Stats
    +e.LI.item
      a(href='#')
        +icon('menu-settings').__icon
      +e.SPAN.hint Settings
    +e.LI.item
      a(href='#')
        +icon('menu-coin-2').__icon._white
      +e.SPAN.hint Coin
