.inner-plate {
  display: block;
  background-color: #fff;
  padding: 50px;

  &_bottom_bigger {
    padding-bottom: 60px;
  }

  @media (max-width: $screen-sm-max) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 40px 20px;
  }

  &_padding_none {
    padding: 0 !important;
  }

  &__section {
    padding: 50px;

    &:not(:last-child) {
      border-bottom: 1px solid #e1e9ec;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 35px;
      padding-right: 35px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 40px 20px;
    }
  }

  &__text {

    h4 {
      font-size: 23px;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 10px;
    }

    p {
      font-family: $font-family-museo-sans;
      font-size: 16px;
      margin-top: 0;
      letter-spacing: -.04em;
      font-weight: 100;
      margin-bottom: 20px;

      @media (max-width: $screen-xs-max) {
        font-size: 15px;
      }
    }

    &_padded {
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;

      @media (max-width: $screen-sm-max) {
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 35px;
      }

      @media (max-width: $screen-xs-max) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
      }
    }
  }

  &__form {
    display: flex;

    .btn {
      margin-left: 15px;
    }

    &_between {
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      align-items: flex-start;

      .btn {
        margin-left: 0;
      }
    }
  }

  &__value-text {
    font-weight: 600;
    font-size: 18px;
  }

  &__tag-container {
    margin-top: 30px;

    .label {
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }

  &__control-container {
    margin-top: 25px;

    .checkbox-inline, .radio-inline, {
      margin-left: 0 !important;
      margin-right: 10px;
      margin-bottom: 10px;

      @media (min-width: $screen-md-min) {
        margin-right: 40px;
      }
    }
  }

  &__slider {
    margin-top: 35px;

    &_big {
      margin-top: 45px;

      & + .inner-plate__slider {
        margin-top: 55px;
      }
    }
  }

  &__effectiveness {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__list {
    margin-top: 40px;
  }

  &__stats-icon {
    padding-top: 30px;
    padding-bottom: 75px;

    &_secondary {
      padding-bottom: 0;
    }

    // stylelint-disable
    li {
      transition: background-color .25s ease-in-out;

      &.active {
        background-color: #e7ebee;
      }
    }
    // stylelint-enable

    .inner-plate__stats-icon-item {
      font-size: 16px;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__stats-icon-item {
    font-family: $font-family-second;
    font-weight: 600;
    position: relative;
    padding: 20px 40px 20px 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e1e9ec;

    span:first-of-type {
      @media (min-width: $screen-sm-min) {
        margin-right: auto;
      }
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 70px;
      padding-right: 35px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 10px 15px 10px 35px;
      flex-direction: column;
      align-items: center;
      text-align: center;

      span {
        margin-top: 5px;
      }
    }

    &:last-child {
      border-bottom: 1px solid #e1e9ec;
    }

    svg {
      position: absolute;
      fill: $brand-warning;
      transform: translateY(-50%);
      top: 50%;
      left: 50px;
      width: 20px;
      height: 20px;

      @media (max-width: $screen-sm-max) {
        left: 35px;
      }

      @media (max-width: $screen-xs-max) {
        position: static;
        transform: none;
      }
    }
  }
}
