.aside-filter {
  position: fixed;
  transform: translateZ(0);
  z-index: 3;
  top: 110px;
  left: 55px;
  width: 335px;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  &_top-none {
    top: 55px;
  }

  @media (max-width: $screen-sm-max) {
    left: 0;
  }

  &__item {
    padding: 40px 55px;
    border-top: 1px solid #d8dfe6;

    &:first-child {
      padding-top: 60px;
      border-top: none;
    }

    &_no-side {
      padding-left: 0;
      padding-right: 0;

      .aside-filter__heading {
        padding-left: 55px;
        padding-right: 55px;
      }
    }
  }

  &__menu {

    a {
      display: block;
      padding: 20px 55px;
      color: #263240;
      font-size: 18px;
      font-weight: 700;
      transition: background-color .25s ease-in-out;
      border-top: 1px solid #e1e9ec;

      &:last-child {
        border-bottom: 1px solid #e1e9ec;
      }

      &:hover {
        background-color: #e9eff4;
      }
      // stylelint-disable
      &.active {
        background-color: #e9eff4;
      // stylelint-enable

        &:hover {
          background-color: darken(#e9eff4, 5%);
        }
      }
    }
  }

  &__input {

    &:not(:first-of-type) {
      margin-top: 22px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #263240;
    margin-bottom: 25px;

    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__heading-icon {
    width: 27px;
    height: 27px;
    fill: transparent;
    stroke: $brand-warning;
    margin-right: 14px;
  }

  &__subheading {
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #263240;
  }

  &__btn-edit {
    margin-top: 40px;
    margin-left: 55px;
  }

  &__quick-link {
    padding: 15px 55px;
    display: flex;
    position: relative;
    justify-content: space-between;
    color: #263240;
    font-size: 16px;
    font-family: $font-family-open-sans;
    font-weight: 400;
    transition: background-color .25s ease-in-out;

    & > svg {
      width: 16px;
      height: 16px;
      margin-left: 10px;
      fill: $brand-warning;
      flex-shrink: 0;
      opacity: 0;
      transition: opacity .25s ease-in-out;
    }

    & > &-value {
      font-weight: 600;
      margin-left: 10px;
    }

    &:hover {
      background-color: #e9eff4;

      & > svg {
        opacity: 1;
      }

      .aside-filter__quick-link-controls {
        pointer-events: all;
        opacity: 1;
      }
    }

    &_taller {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &_bordered {
      border-top: 1px solid #e1e9ec;

      &:last-of-type {
        border-bottom: 1px solid #e1e9ec;
      }
    }

    &_bordered_bottom {
      border-bottom: 1px solid #e1e9ec;
    }
  }

  &__quick-link-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    pointer-events: none;
  }

  &__quick-link-control {
    border: 1px solid $brand-warning;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;

    svg {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      fill: $brand-warning;
      stroke: $brand-warning;
      width: 7px;
      height: 7px;
    }

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}
