include ../../blocks/icon/icons

mixin aside-filter()
  +b.ASIDE.aside-filter&attributes(attributes)
    +e.content
      block
    +e.toggler
      +icon('header-burger')

mixin aside-filter-item
  +e.item&attributes(attributes)
    block

mixin aside-filter-search-item
  +e.A(href='#').quick-link&attributes(attributes)
    block
    +icon('search')

mixin aside-filter-quick-link(value)
  +e.quick-link&attributes(attributes)
    block
    +e.SPAN.quick-link-value= value

mixin aside-filter-shortlist-item(value)
  +e.quick-link._taller&attributes(attributes)
    block
    +e.SPAN.quick-link-value= value
    +e.quick-link-controls
      +e.A(href='#').quick-link-control
        +icon('close')
      +e.A(href='#').quick-link-control
        +icon('pen')



mixin aside-filter-heading(icon)
  +e.heading&attributes(attributes)
    +icon(icon).__heading-icon
    h4
      block
