include ../../blocks/logo/logo
include ../../blocks/footer-menu/footer-menu
include ../../blocks/social/social

mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container.container-mobile-padded
      .row
        +e.logo-wrap.col-xxl-3.col-xl-5.col-lg-4.col-xs-24
          +logo._big._inline
        +e.text-menu.col-xxl-5.col-xl-5.col-lg-6.col-md-8.col-sm-12.col-xs-24
          +footer-menu
            +footer-menu-heading Information
            +footer-menu-item About amhero
            +footer-menu-item Help & Support
            +footer-menu-item Jobs
            +footer-menu-item Join The — iamhero
        +e.text-menu.col-xxl-5.col-xl-5.col-lg-7.col-md-8.col-md-offset-0.col-sm-10.col-sm-offset-2.col-xs-24
          +footer-menu
            +footer-menu-heading Employer
            +footer-menu-item Hire the Heros
            +footer-menu-item Create Company Page
            +footer-menu-item Post a Job
            +footer-menu-item Pricing
            +footer-menu-item Terms & Conditions
            +footer-menu-item Privacy Policy
        +e.text-menu.col-xxl-4.col-xl-5.col-lg-7.col-md-8.col-sm-12.col-xs-24
          +footer-menu
            +footer-menu-heading I am hero
            +footer-menu-item Functions
            +footer-menu-item Resume
            +footer-menu-item Pricing
            +footer-menu-item Terms & Conditions
            +footer-menu-item Privacy Policy
        +e.social-wrap.col-xxl-6.col-xxl-offset-1.col-xl-4.col-xl-offset-0.col-lg-20.col-lg-offset-4.col-md-24.col-md-offset-0.col-sm-10.col-sm-offset-2.col-xs-24
          +footer-menu
            +footer-menu-heading Social
          +social.__social
            +social-item('facebook-social')
            +social-item('twitter-social')
            +social-item('youtube-social')
            +social-item('instagram')._insta
