extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/input/input
include ../../blocks/button/button
include ../../components/aside-filter/aside-filter
include ../../blocks/settings-header/settings-header
include ../../blocks/inner-plate/inner-plate
include ../../blocks/select/select
include ../../blocks/label/label
include ../../blocks/icon-close/icon-close
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio

block head
  - var pageTitle = 'I Am Hero - Account settings'

block aside-filter
  +aside-filter._top-none
    +aside-filter-item._no-side
      +aside-filter-heading('menu-settings') Settings
      +e.menu
        a(href='#').active Heroes to suggest
        a(href='#') Account settings
        a(href='#') Finances
        a(href='#') Notification options
        a(href='#') Invite Friends
      +button.btn-secondary-warning.btn-secondary-warning-medium.font-weight-medium.aside-filter__btn-edit Edit company page

block content
  +page._inner-medium
    +settings-header
      +settings-header-text-wrap
        +settings-header-title-wrap
          +settings-header-icon('hero-to-suggest')
          h3 HEROES TO SUGGEST
        span Specify Parameters for system to suggest you Heroes
      +settings-header-button Save
    +e.section
      .row
        .col-xs-24.col-xxl-12
          +inner-plate
            +e.text
              h4 WORKING FIELDS
              p This section allows you to choose working field of Heroes you are interested of.
            .form-inline
              .form-group
                +select2([{value: '1', text: 'Graphic Designer'}, {value: '2', text: 'Designer'}, {value: '3', text: 'Graphic Artist'}], 'Working field')._big._warning
              +button.btn-secondary-warning.form-inline-btn Add to list
            +e.tag-container
              +label.label-primary-close
                | Graphic Designer
                a(href='#')
                  +icon-close.icon-close_small
              +label.label-primary-close
                | Designer
                a(href='#')
                  +icon-close.icon-close_small
              +label.label-primary-close
                | Graphic Artist
                a(href='#')
                  +icon-close.icon-close_small
              +label.label-primary-close
                | Design
                a(href='#')
                  +icon-close.icon-close_small
            +label.label-primary-close.label-primary-close-dark
              | Clear all search criteria
              a(href='#')
                +icon-close.icon-close_small
          +inner-plate._padding_none.page__section
            +e.section
              +e.text
                h4 Employment PARAMETERS
              +e.control-container
                +checkbox(true) Part time
                +checkbox(true) Full time
                +checkbox() Freelance
                +checkbox() Season job
            +e.section
              +e.text
                h4 WORKING GRAPHIC
              .form-inline
                .form-group.form-group-with-addon.form-group-lg
                  +input('38').form-control-warning
                  .input-group-addon h
                .form-group.form-group-offset
                  +select([{value: '1', text: 'Weekly'}, {value: '2', text: 'Monthly'}, {value: '3', text: 'Daily'}])._big._warning
            +e.section
              +e.text
                h4 GEOGRAPHY
              +e.control-container
                +radio(true, 'geo')._warning Anywhere
                +radio('', 'geo')._warning Specific radius from
                +radio('', 'geo')._warning Specific locations
        .col-xs-24.col-xxl-12
          +inner-plate.page__section.page__section_lg
            +e.text
              h4 PROFESSION
              p Specify the profession of the Hero
            .form-inline
              .form-group
                +select2([{value: '1', text: 'Graphic Designer'}, {value: '2', text: 'Designer'}, {value: '3', text: 'Graphic Artist'}], 'Choose profession')._big._warning
              +button.btn-secondary-warning.form-inline-btn Add to list
            +e.tag-container
              +label.label-primary-close
                | Graphic Designer
                a(href='#')
                  +icon-close.icon-close_small
          +inner-plate.page__section
            +e.text
              h4 DESIRED SALARY
              p Specify maximal salary for your employer. If not specified shows everyone
            .form-inline
              .form-group.form-group-with-addon.form-group-lg
                +input('Maximum amount').form-control-warning
                .input-group-addon $
              .form-group.form-group-offset
                +select([{value: '1', text: 'Annual'}, {value: '2', text: 'test-1'}, {value: '3', text: 'test-2'}])._big._warning.__form-second-item
          +inner-plate.page__section
            +e.text
              h4 TAGS
              p We’ll try to find something for you within specific tags.
            .form-inline
              .form-group.form-group-lg
                +input('Write tag')
              +button.btn-secondary-warning.form-inline-btn Add to list
            +e.tag-container
              +label.label-primary-close
                | Graphic Designer
                a(href='#')
                  +icon-close.icon-close_small
              +label.label-primary-close
                | Designer
                a(href='#')
                  +icon-close.icon-close_small
              +label.label-primary-close
                | Graphic Artist
                a(href='#')
                  +icon-close.icon-close_small
              +label.label-primary-close
                | Design
                a(href='#')
                  +icon-close.icon-close_small
            +label.label-primary-close.label-primary-close-dark
              | Clear all tags
              a(href='#')
                +icon-close.icon-close_small
