.link {
  display: block;
  font-size: 17px;
  text-decoration: underline solid #0377b5;
  transition: opacity .25s ease-in-out;
  color: #6d7f77;

  &:hover {
    opacity: .8;
  }

  &-success {
    text-decoration-color: $brand-success;
  }
}
