.resume-section {
  background-image: linear-gradient(25deg, rgb(27, 32, 45) 0%, rgb(70, 93, 117) 55%, rgb(89, 187, 160) 100%);
  color: #fff;
  position: relative;

  @media (max-width: $screen-xl-max) {
    overflow: hidden;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .text-success {
    letter-spacing: .1em;
  }

  h2:first-of-type, h2:last-of-type {
    margin-bottom: 90px;
  }

  button {
    margin-top: 65px;
  }

  &__collage {
    pointer-events: none;
    user-select: none;
    position: absolute;
    width: 1130px;
    height: 100%;
    top: 0;
    right: 0;

    @media (max-width: $screen-xl-max) {
      opacity: .6;
      overflow: hidden;
    }

    @media (max-width: $screen-lg-max) {
      opacity: .4;
    }

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    img {
      position: absolute;
    }

    .mockup-1 {
      top: 0;
      right: 0;
    }

    .mockup-2 {
      right: 0;
      top: 80px;
    }

    .mockup-3 {
      left: 90px;
      top: 330px;
    }

    .mockup-4 {
      left: 420px;
      top: 500px;
    }
  }
}
