.hero-card {
  display: block;
  border: 1px solid #e1e9ec;
  box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .24);

  &__image {
    @include ratio(1,1);
  }

  &__text {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 23px 60px 15px 20px;
    height: 210px;

    @media (max-width: $screen-md-max) {
      height: 230px;
    }

    @media (max-width: $screen-xs-max) {
      height: 255px;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: 35px;
      padding-left: 35px;
      padding-bottom: 35px;
    }

    h4 {
      padding-right: 30%;
      font-weight: 500;
    }

    p {
      font-weight: 500;
      font-family: $font-family-museo-sans;
      margin-top: auto;
      margin-bottom: 0;
      color: #84959f;

      // stylelint-disable
      &.text-success {
        color: $brand-success;
        margin-top: 20px;
        letter-spacing: -.04em;
      }
      // stylelint-enable
    }
  }
}
