.team-section {
  display: block;
  background-color: #fff;
  padding-top: 70px;

  &__members {
    padding-top: 80px;

    .member {
      margin-bottom: 100px;

      @media (max-width: $screen-xs-max) {
        margin-bottom: 65px;
      }
    }
  }
}
