.plate {

  &__top {

    &-50 {
      margin-top: 50px;
    }

    &-40 {
      margin-top: 40px;
    }

    &-30 {
      margin-top: 30px;
    }

    &-20 {
      margin-top: 20px;
    }
  }

  &__tag-container {

    .label {
      margin-top: 10px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__lang-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    &:not(:first-of-type)::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: -65px;
      width: calc(100% + 130px);
      height: 1px;
      background-color: #eaedef;
    }
  }

  &__lang-col {
    flex: 0 0 17.5%;
    display: flex;
    align-items: center;
  }

  &__lang-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control, .btn-select {
      flex-shrink: 0;
      flex-basis: 33%;
    }
  }

  &__service-container {
    display: flex;
    justify-content: space-between;
  }

  &__service-select {
    display: block;
    max-width: 74%;
  }
}
