include ../../blocks/plate/plate
include ../../blocks/logo/logo
include ../../blocks/input/input
include ../../blocks/textarea/textarea
include ../../blocks/label/label
include ../../blocks/icon/icons
include ../../blocks/tabs/tabs
include ../../blocks/view-in/view-in
include ../../blocks/play-video/play-video
include ../../blocks/bg-image/bg-image
include ../../blocks/button/button
include ../../blocks/upload/upload
include ../../blocks/icon-close/icon-close
include ../rangesliders/rangesliders
include ../timeline/timeline
include ../../blocks/service/service
include ../../blocks/thumbnail/thumbnail
include ../../blocks/select/select

mixin plate-avatar(src)
  +bg-image(src).__avatar&attributes(attributes)
    +upload.plate__avatar-button
      +button-icon.btn-success-transparent
        +button-icon-item('camera')._white._before
        +button-icon-text Change profile picture

mixin plate-avatar-static(src)
  +bg-image(src).__avatar&attributes(attributes)

mixin avatar-plate
  +plate._no-padding._flex._tablet-column#summary
    +plate-avatar('profile-edit/avatar-placeholder.jpg')
    +e.info-col._form
      +logo(true).__logo
      +e.FORM.hero-form
        +input('Name Surname').form-control-border-bottom.form-control-border-big.__header.responsive-font
        +input('Vocation/position').form-control-border-bottom.form-control-small
        +input('Lacation').form-control-border-bottom.form-control-smaller
        +textarea('5')(placeholder='A few words about yourself').form-control-area-static.form-control-border-straight

mixin avatar-plate-static
  +plate._no-padding._flex._tablet-column#summary
    +plate-avatar-static('profile-edit/avatar-big.jpg')
    +e.info-col
      +logo(true).__logo
      +e.hero-form
        +e.H2.header.responsive-font Mark Marthell
        h5 Los Angeles, USA
        h4 Singer, Producer, Interpreneur
        p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.

mixin skills-plate
  +plate#skills
    +e.H2.header Professional Skills
    p The list of my professional skills which describes my strongest sides
    +rangeslider-label('Graphic design', 'lightgreen', '60').__top-60.sr-animate
    +rangeslider-label('Web Design', 'orange', '40').__top-60.sr-animate
    +rangeslider-label('Illustration', 'blue', '40').__top-60.sr-animate
    +rangeslider-label('Video Editing', 'red', '80').__top-60.sr-animate
    +e.FORM.top-60.form-inline
      .form-group.has-error
        +input('Write another')
        span.help-block Error
      +button-add.form-inline-btn Add new skill

mixin skills-plate-static
  +plate#skills
    +e.H2.header Professional Skills
    p The list of my professional skills which describes my strongest sides
    +rangeslider-label-static('Graphic design', 'lightgreen').__top-60.sr-animate
    +rangeslider-label-static('Web Design', 'orange').__top-60.sr-animate
    +rangeslider-label-static('Illustration', 'blue').__top-60.sr-animate
    +rangeslider-label-static('Video Editing', 'red').__top-60.sr-animate

mixin talents-plate
  +plate#talents
    +e.H2.header Talents
    p The list of my professional skills which describes my strongest sides
    +e.tag-container.__top-50
      +label-talents-close Singing
      +label-talents-close Dancing
      +label-talents-close Song writing
      +label-talents-close Drawing amazing landscapes
    +e.FORM.top-50.form-inline
      .form-group.has-warning
        +input('Write another')
        span.help-block Warning!
      +button-add.form-inline-btn Add new talent

mixin talents-plate-static
  +plate#talents
    +e.H2.header Talents
    p The list of my professional skills which describes my strongest sides
    +e.tag-container.__top-50
      +label-talents Singing
      +label-talents Dancing
      +label-talents Song writing
      +label-talents Drawing amazing landscapes
      +label-talents Photography
      +label-talents Lomogpraphy
      +label-talents Tattoo
      +label-talents Computer gaming
      +label-talents Education specialist

mixin language-heading
  +e.lang-row.hidden-xs.hidden-sm
    +e.lang-col
      h5 Language
    +e.lang-col
      h5 Reading
    +e.lang-col
      h5 Speaking
    +e.lang-col
      h5 Writing
    +e.lang-col
      h5 Understanding

mixin language-sliders(title, color)
  -
    var langSkills = ['Reading', 'Speaking', 'Writing', 'Understanding']
  +e.lang-row.sr-animate
    +e.lang-col
      h4.font-weight-medium= title
      +e.A(href='#').lang-close
        +icon-close
    each item in langSkills
      +e.lang-col
        h4.visible-xs.visible-sm= item
        +rangeslider-nolabel(color)

mixin language-sliders-static(title, color)
  -
    var langSkills = ['Reading', 'Speaking', 'Writing', 'Understanding']
  +e.lang-row.sr-animate
    +e.lang-col
      h4.font-weight-medium= title
    each item in langSkills
      +e.lang-col
        h4.visible-xs.visible-sm= item
        +rangeslider-nolabel-static(color)

mixin languages-plate
  +plate#languages
    +e.H2.header Languages
    +language-heading
    +language-sliders('Russian', 'red')
    +language-sliders('English', 'orange')
    +e.FORM.top-30.form-inline
      .form-group
        +select([{value: 'en', text: 'English'}, {value: 'ru', text: 'Русский'}], 'Select')
      span.form-inline-text or
      .form-group.has-success
        +input('write another')
        span.help-block Success
      +button-add.form-inline-btn Add new language

mixin languages-plate-static
  +plate#languages
    +e.H2.header Languages
    +language-heading
    +language-sliders-static('Russian', 'red')
    +language-sliders-static('English', 'lightgreen')
    +language-sliders-static('German', 'blue')

mixin resume-plate(edit)
  +plate#resume
    +e.H2.header Resume
    if edit
      p Here is my professional goals in informative and simple timeline
    else
      +e.lang-show-container
        p Here is my professional goals in informative and simple timeline
        +timeline-show
    +timeline.__top-60
      +e.years
        +e.P.year 2017
        +e.P.year 2016
        +e.P.year 2015
      +e.items
        +e.holder
        +timeline-item.__item.sr-animate
          if edit
            +timeline-item-header-edit('work', '17/06/2016 — 17/06/2018')._red
          else
            +timeline-item-header('work', '17/06/2016 — 17/06/2018')._red
          h4 DEZI Design
          p Stated o work as a junior Designer at DEZI
        +timeline-item.__item.sr-animate
          if edit
            +timeline-item-header-edit('education', '17/02/2016 — 17/06/2016')._lightgreen
          else
            +timeline-item-header('education', '17/02/2016 — 17/06/2016')._lightgreen
          h4 Univercity Of Creative art Rocherster Great Britain
          p Graduated as a grapchic design bachelor
        +timeline-item.__item.sr-animate
          if edit
            +timeline-item-header-edit('AWARDS AND CERTIFICATES', '17/02/2016')._violet
          else
            +timeline-item-header('AWARDS AND CERTIFICATES', '17/02/2016')._violet
          h4 Proficiency in economics by ALAP
          p This sertificate gives me and ooportunity to work in financial sector for 2 years using my new knowledges in macroeconomy processes.
          +e.A(href='assets/docs/google.pdf' target='_blank').control.js-pdf
            +icon('search')
            p Show document
          +e.A(href='#').control
            +icon('save')
        +timeline-item.__item.sr-animate
          if edit
            +timeline-item-header-edit('work', '17/02/2015 — 17/06/2016')._red
          else
            +timeline-item-header('work', '17/02/2015 — 17/06/2016')._red
          h4 McDonalds Berlin
          p Stated work at local McDonalds restaurant as a cashier
        +timeline-item.__item.sr-animate
          if edit
            +timeline-item-header-edit('EDUCATION', '17/02/2016 — 17/06/2016')._lightgreen
          else
            +timeline-item-header('EDUCATION', '17/02/2016 — 17/06/2016')._lightgreen
          h4 Univercity Of Creative art Rocherster Great Britain
          p Graduated as a grapchic design bachelor
    if edit
      .summary-btn.plate__top-30
        +button-add(data-toggle="modal", data-target="#resumeModal") Add new point

mixin services-plate
  +plate#services
    +e.H2.header Services
    +e.top-40.row
      +e.service.col-md-8
        +service('palette', 'Graphic design').sr-animate Website, logo and company identity graphical design. Print, pre-print, digital design
      +e.service.col-md-8
        +service('tape', 'Video editing').sr-animate Adobe premier and After Effect mastery. Video filiming, color correction and Post production
      +e.service.col-md-8
        +service('brush', 'Illustration').sr-animate Drawing illustration and graphical images in various styles. Look for more in cases section
    +e.FORM.top-40.form-inline
      .form-inline-vertical-inputs
        .form-group
          +select([{value: 'design', text: 'Design'}, {value: 'video', text: 'Video editing'}, {value: 'illustration', text: 'Illustration'}], 'Select')
        .form-group.has-error
          +input('write about service')
          span.help-block Error
      +button-add.form-inline-btn.form-inline-btn-offset-top Add new service

mixin services-plate-static
  +plate#services
    +e.H2.header Services
    +e.top-40.row
      +e.service.col-md-8
        +service-static('palette', 'Graphic design').sr-animate Website, logo and company identity graphical design. Print, pre-print, digital design
      +e.service.col-md-8
        +service-static('tape', 'Video editing').sr-animate Adobe premier and After Effect mastery. Video filiming, color correction and Post production
      +e.service.col-md-8
        +service-static('brush', 'Illustration').sr-animate Drawing illustration and graphical images in various styles. Look for more in cases section

mixin interests-plate(edit)
  +plate#interest
    +e.H2.header Interests
    .row.plate__top-60
      .col-md-8.col-xs-24
        if edit
          +thumbnail-interests-edit('profile-edit/design.jpg', 'Graphic design')
        else
          +thumbnail-interests('profile-edit/design.jpg', 'Graphic design')
      .col-md-8.col-xs-24
        if edit
          +thumbnail-interests-edit('profile-edit/travel.jpg', 'Travel')
        else
          +thumbnail-interests('profile-edit/travel.jpg', 'Travel')
      .col-md-8.col-xs-24
        if edit
          +thumbnail-interests-edit('profile-edit/chess.jpg', 'Chess')
        else
          +thumbnail-interests('profile-edit/chess.jpg', 'Chess')
      .col-md-8.col-xs-24
        if edit
          +thumbnail-interests-edit('profile-edit/car.jpg', 'Car sketching')
        else
          +thumbnail-interests('profile-edit/car.jpg', 'Car sketching')
      .col-md-8.col-xs-24
        if edit
          +thumbnail-interests-edit('profile-edit/food-review.jpg', 'Street food review')
        else
          +thumbnail-interests('profile-edit/food-review.jpg', 'Street food review')
    if edit
      +e.FORM.top-20
        .form-inline
          .form-group.has-warning
            +input('Write another')
            span.help-block Warning
          +upload.form-inline-btn.form-inline-btn-stretch
            +button-icon.btn-grey
              +button-icon-item('picture')._grey
              +button-icon-text Upload image
        .form-inline
          .form-group.has-success
            +input('write about interest')
            span.help-block Success
          +button-add.form-inline-btn.form-inline-btn-stretch Add new interest

mixin video-plate
  +plate._relative._ratio-container
    +bg-image('profile-edit/video-placeholder.jpg').__video-placeholder
    +e.video-controls
      +e.header-container._tablet_column
        +e.H2.header._white._mobile-smaller Video Represent
        +button-add(data-toggle="modal", data-target="#videoModal") Upload video

mixin video-plate-static
  +plate._relative._ratio-container
    +e.video-placeholder.js-video-placeholder
      iframe(id="ytplayer", type="text/html", src="https://www.youtube.com/embed/dREKkAk628I?enablejsapi=1&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3", frameborder="0", allowfullscreen).plate__video
    +e.video-controls._overlay.js-video-play
      +e.H2.header._white._mobile-smaller Video represent
      +play-video.__top-40

mixin social-plate-static
  +plate._no-padding._relative._mobile-flex#activities
    +tabs.social-header
      +tab('instagram').social-header__item.active
        +icon('instagram', true).social-header__icon.social-header__icon_insta
      +tab('facebook').social-header__item
        +icon('facebook', true).social-header__icon
      +tab('youtube').social-header__item
        +icon('youtube', true).social-header__icon
      +tab('pinterest').social-header__item
        +icon('pinterest', true).social-header__icon

    +tab-content.social-content
      +tab-pane.active.in#instagram
        +plate
          h2 Instagram
            +icon-close.social-content__close
          p Link your profile with Instagram and upload photos!
          .summary-btn
            +button-add Connect to Instagram
      +tab-pane#facebook
        +plate
          h2 Facebook
            +icon-close.social-content__close
          p Link your profile with Instagram and upload photos!
          .summary-btn
            +button-add Connect to Facebook
      +tab-pane#youtube
        +plate
          h2 Youtube
            +icon-close.social-content__close
          p Link your profile with Instagram and upload photos!
          .summary-btn
            +button-add Connect to Youtube
      +tab-pane#pinterest
        +plate
          h2 Pinterest
            +icon-close.social-content__close
          p Link your profile with Instagram and upload photos!
          .summary-btn
            +button-add Connect to Pinterest

mixin social-plate
  +plate._no-padding._relative._mobile-flex#activities
    +tabs.social-header
      +tab('instagram').social-header__item.active
        +icon('instagram', true).social-header__icon.social-header__icon_insta
      +tab('facebook').social-header__item
        +icon('facebook', true).social-header__icon
      +tab('youtube').social-header__item
        +icon('youtube', true).social-header__icon
      +tab('pinterest').social-header__item
        +icon('pinterest', true).social-header__icon
    +tab-content.social-content
      +tab-pane.active.in#instagram
        +plate
          +e.H2.header Instagram
          .row
            .col-sm-12.col-xs-24
              +bg-image('profile-edit/social/1.jpg').social-content__img.social-content__img_big
            .col-sm-12.col-xs-24
              .row
                .col-sm-12.col-xs-24
                  +bg-image('profile-edit/social/2.jpg').social-content__img
                .col-sm-12.col-xs-24
                  +bg-image('profile-edit/social/3.jpg').social-content__img
                .col-sm-12.col-xs-24
                  +bg-image('profile-edit/social/4.jpg').social-content__img
                .col-sm-12.col-xs-24
                  +view-in('instagram')._insta.social-content__img Instagram
      +tab-pane#facebook
        +plate
          +e.H2.header Facebook
          .row
            .col-md-12.col-xs-24
              +bg-image('profile-edit/social/1.jpg').social-content__img.social-content__img_big
            .col-md-12.col-xs-24
              .row
                .col-sm-12
                  +bg-image('profile-edit/social/2.jpg').social-content__img
                .col-sm-12
                  +bg-image('profile-edit/social/3.jpg').social-content__img
                .col-sm-12
                  +bg-image('profile-edit/social/4.jpg').social-content__img
                .col-sm-12
                  +view-in('facebook').social-content__img Facebook
      +tab-pane#youtube
        +plate
          +e.H2.header Youtube
          .row
            .col-md-12.col-xs-24
              +bg-image('profile-edit/social/1.jpg').social-content__img.social-content__img_big
            .col-md-12.col-xs-24
              .row
                .col-sm-12
                  +bg-image('profile-edit/social/2.jpg').social-content__img
                .col-sm-12
                  +bg-image('profile-edit/social/3.jpg').social-content__img
                .col-sm-12
                  +bg-image('profile-edit/social/4.jpg').social-content__img
                .col-sm-12
                  +view-in('youtube').social-content__img Youtube
      +tab-pane#pinterest
        +plate
          +e.H2.header Pinterest
          .row
            .col-md-12.col-xs-24
              +bg-image('profile-edit/social/1.jpg').social-content__img.social-content__img_big
            .col-md-12.col-xs-24
              .row
                .col-sm-12
                  +bg-image('profile-edit/social/2.jpg').social-content__img
                .col-sm-12
                  +bg-image('profile-edit/social/3.jpg').social-content__img
                .col-sm-12
                  +bg-image('profile-edit/social/4.jpg').social-content__img
                .col-sm-12
                  +view-in('pinterest').social-content__img Pinterest
