include ../icon/icons
include ../button/button

mixin settings-header
  +b.settings-header&attributes(attributes)
    block

mixin settings-header-text-wrap
  +e.text-wrap&attributes(attributes)
    block

mixin settings-header-title-wrap
  +e.title-wrap&attributes(attributes)
    block

mixin settings-header-icon(icon)
  +icon(icon).__icon&attributes(attributes)

mixin settings-header-button
  +button('a')(href='#').btn-secondary-warning.btn-secondary-warning-medium&attributes(attributes)
    block
