.settings-header {
  padding: 20px 50px;
  background-image: linear-gradient(to left, #1b202d 0%, #465d75 55%, #59bba0 100%);
  display: flex;
  align-items: center;

  @media (max-width: $screen-lg-max) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $screen-xs-max) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }

  @media (max-width: $screen-xs-max) {
    align-items: stretch;
  }

  &__text-wrap {
    display: flex;
    flex-basis: 100%;
    padding-right: 40px;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 100;
      font-size: 16px;
      color: #fff;
      letter-spacing: -.04em;

      @media (max-width: $screen-xs-max) {
        font-size: 15px;
      }
    }

    @media (max-width: $screen-md-max) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $screen-sm-max) {
      padding-right: 0;
      align-items: center;
      flex-basis: auto;
    }

    @media (max-width: $screen-xs-max) {
      align-items: flex-start;
    }
  }

  &__title-wrap {
    display: flex;
    align-items: center;

    h3 {
      text-transform: uppercase;
      font-size: 27px;
      color: #fff;
      letter-spacing: -.04em;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;

      @media (max-width: $screen-xs-max) {
        font-size: 23px;
      }
    }
  }

  &__icon {
    width: 33px;
    height: 23px;
    fill: none;
    stroke: $brand-warning;
  }

  .btn {
    font-weight: 500;
    color: #fff;
    flex-shrink: 0;

    @media (max-width: $screen-sm-max) {
      margin-top: 15px;
    }
  }
}
