.nav {
  display: flex;

  &-link {
    display: block;
    color: #688595;
    border-bottom: 7px solid transparent;

    &-border-success {
      border-color: $brand-success;
    }

    &-hover-success {

      &:hover {
        background-color: $brand-success !important;
      }
    }
  }
}
