extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/bg-image/bg-image
include ../../blocks/describe/describe
include ../../blocks/fast-forward/fast-forward
include ../../components/news-slider/news-slider
include ../../components/hero-slider/hero-slider

block head
  - var pageTitle = 'I Am Hero - Dashboard'

block content
  +page._inner-standart._dashboard
    +e.col-left
      +fast-forward
      +describe._text-white._bottom-smaller._faded.__card
        +e.IMG(src='assets/images/dashboard/dark-bg.jpg').__bg
        +describe-text-container
          h2 I am Hero Blasts the worlds famous annual Startup workshop!
          p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
        +describe-link-more
      +describe._bordered.__card
        +e.IMG(src='assets/images/dashboard/app-bg.jpg').__bg
        +describe-text-container
          h2 I am Hero App
          h4 Now we really ready to go!
          p We’ve made our fresh and brand new application with all the functions available on our service. Stay in touch, be mobile and become a hero Every day. no matter where you are!
        +describe-apps
      +e.H2.header News
      +news-slider.__card
      +e.H2.header Suggested heroes
      +hero-slider.__card
      +e.H2.header I am Hero Survey
    +e.col-right
