extends ../../layouts/default
include ../../components/inner-header/inner-header-secondary
include ../../blocks/page/page
include ../../blocks/companies/companies
include ../../components/services-section/services-section
include ../../components/countdown-screen/countdown-screen
include ../../components/about-section/about-section
include ../../components/spec-section/spec-section
include ../../components/stat-section/stat-section
include ../../components/roadmap-section/roadmap-section
include ../../components/team-section/team-section
include ../../blocks/brand-section/brand-section
include ../../blocks/scheme-section/scheme-section
include ../../blocks/demo-section/demo-section

block head
  - var pageTitle = 'I Am Hero - ICO Landing'

block content
  +inner-header-secondary
  +page.ico-landing
    +countdown-screen
    +companies
    +about-section
    +services-section
    +spec-section
    +brand-section
    +stat-section
    +scheme-section
    +demo-section
    +brand-section-second
    +roadmap-section
    +team-section
