extends ../../layouts/default

block head
  - var pageTitle = 'I Am Hero - Demo page'

block content
  mixin demo-link(title, path)
    +e.link&attributes(attributes)
      a(href=path+'.html', target='_blank').h3= title
      span= '('+path+'.html)'

  +b.demo
    +demo-link('Profile3x2', 'profile')
    +demo-link('Profile3x2_edit3', 'profile-edit')
    +demo-link('Company listing', 'company-listing')
    +demo-link('Company profile2', 'company-profile')
    +demo-link('Dashboard', 'dashboard')
    +demo-link('Finances', 'finances')
    +demo-link('Hero search', 'hero-search')
