extends ../../layouts/default
include ../../blocks/select/select

block head
  - var pageTitle = 'Versta Project Template'

block content
  mixin demo-link(title, path)
    +e.link&attributes(attributes)
      a(href=path+'.html', target='_blank').h3= title
      span= '('+path+'.html)'

  +b.demo
    +demo-link('Profile3x2', 'profile')
    +demo-link('Profile3x2_edit3', 'profile-edit')
    +demo-link('Company listing', 'company-listing')
    +demo-link('Company profile2 awards', 'company-profile-awards')
    //- +select([{value: 1, text: '1'}, {value: 2, text: '2'}, {value: 3, text: '3'}], 'Name')
