extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/job-card/job-card
include ../../components/plates/plates
include ../../blocks/bg-image/bg-image
include ../../blocks/icon/icons
include ../../blocks/inner-card/inner-card

block head
  - var pageTitle = 'I Am Hero - Single job'

block content
  +page._inner-standart.single-job
    +bg-image('single-job/bg.jpg').__top-bg._overlay_none._inner
    +e.company.container
      .row
        .col-xxl-offset-3.col-xxl-7.col-lg-8.page__sidebar-wrap.page__sidebar-wrap_no-margin
          +job-card-left
        .col-xxl-11.col-lg-16
          +plate._no-padding
            +e.content
              h2 Industrial Designer at BS Company

              p BS Company is dedicated to providing quality wheels and lifestyle products for those who value excellence.

              p Our brand aims to reflect a passion for ingenuity and a desire to impact not only the automotive world, but culture at large.

              p At BS Company, we place a high emphasis on design. Like our customers, we value the time and work that goes into creating and manufacturing products that are innovative and aesthetically pleasing. A commitment to providing our customers with the best has positioned BS Company at the forefront of our industry. From our events to our renowned world tours, our supporters feel a sense of pride in the standards we uphold.

              img(src="assets/images/company-profile/history.jpg")

              p At BS Company, we place a high emphasis on design. Like our customers, we value the time and work that goes into creating and manufacturing products that are innovative and aesthetically pleasing. A commitment to providing our customers with the best has positioned BS Company at the forefront of our industry. From our events to our renowned world tours, our supporters feel a sense of pride in the standards we uphold.

              +e.content-media
                iframe(src="https://www.youtube.com/embed/S1LbZjGGiPo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
            +e.map#map-job

          +plate._no-padding.__section._big
            +e.content
              h2 Challenges
              p BS Company is dedicated to providing quality wheels and lifestyle products for those who value excellence.
              p Our brand aims to reflect a passion for ingenuity and a desire to impact not only the automotive world, but culture at large.
              p At BS Company, we place a high emphasis on design. Like our customers, we value the time and work that goes into creating and manufacturing products that are innovative and aesthetically pleasing. A commitment to providing our customers with the best has positioned BS Company at the forefront of our industry. From our events to our renowned world tours, our supporters feel a sense of pride in the standards we uphold.
          +plate._no-padding.__section._big
            +e.content
              h2 Required Skills
              +job-card-list
          +plate._no-padding.__section._big
            +e.content
              h2 Duties
              +job-card-list
          +plate._no-padding.__section._big
            +e.content
              h2 We offer
              +job-card-list
          +inner-card-button('check-1')(href='#').btn-info-darken.__summary-btn.__section._big Attend
