include ../../blocks/icon/icons
include ../../blocks/input/input
include ../../blocks/button/button

mixin card-popover()
  +b.card-popover&attributes(attributes)
    block

mixin card-popover-contact
  +card-popover&attributes(attributes)
    +e.section._vertical._bordered
      h5 Contact has been unlocked
      p Artemy Lebedev has been added to designers shortlist. You can now contact him
    +e.section
      +button('a')(href='#').btn-secondary-warning.btn-secondary-warning-low Start chat
      +button('a')(href='#').btn-secondary-warning.btn-secondary-warning-low View profile

mixin card-popover-buy
  +card-popover&attributes(attributes)
    +e.section
      h5 Buy Contact
    +e.section._medium._dark
      +icon('menu-shortlists').__description-icon
      +e.SPAN.description You should add Hero to any existing or new Shortlist, please choose an option below
    +e.FORM.section._big._bordered.form-inline
      .form-group
        +input('New shortlist name').form-control-warning
        span.help-block validation
      +button.btn-secondary-warning-small.form-inline-btn Save
    +e.section._list
      h5 Existing shortlists:
      +e.list
        +e.A(href='#').list-item Designer 2200
          +e.SPAN.list-item-value 45
        +e.A(href='#').list-item Main office manager
          +e.SPAN.list-item-value 12
        +e.A(href='#').list-item Search 31
          +e.SPAN.list-item-value 4
        +e.A(href='#').list-item Rage
          +e.SPAN.list-item-value 1
        +e.A(href='#').list-item Project management
          +e.SPAN.list-item-value 45
        +e.A(href='#').list-item Designer 2200
          +e.SPAN.list-item-value 45
        +e.A(href='#').list-item Main office manager
          +e.SPAN.list-item-value 12
        +e.A(href='#').list-item Search 31
          +e.SPAN.list-item-value 4
        +e.A(href='#').list-item Rage
          +e.SPAN.list-item-value 1
        +e.A(href='#').list-item Project management
          +e.SPAN.list-item-value 45
