.card-popover {
  box-shadow: 0 0 70px 29px rgba(28, 40, 57, .23);
  width: 400px;
  text-align: left;
  background-color: #fff;

  &::before {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -10px;

    @include triangle($brand-warning, up, 10px);
  }

  &::after {
    content: '';
    position: absolute;
    height: 20px;
    top: -20px;
    width: 100%;
    left: 0;
  }

  &__section {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: flex-start;

    .form-group {

      input {
        height: 32px;
        padding-top: 7px;
      }
    }

    &_medium {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &_big {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &_dark {
      background-color: #334152;
      color: #fff;
    }

    &_bordered {
      border-bottom: 1px solid #c8cfd4;
    }

    &_list {
      padding-top: 17px;
      padding-right: 7px;
      flex-direction: column;
    }

    &_vertical {
      flex-direction: column;
    }

    h5 {
      font-weight: 700;
    }

    p {
      font-size: 17px;
      font-weight: 300;
      font-family: $font-family-base;
      margin-bottom: 10px;
      letter-spacing: -.04em;
    }

    .btn {
      flex-basis: 50%;

      &:first-child {
        margin-right: 25px;
      }
    }
  }

  &__description {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.04em;
  }

  &__description-icon {
    flex-shrink: 0;
    margin-right: 15px;
    width: 22px;
    height: 28px;
    fill: none;
    stroke: $brand-warning;
  }

  &__inline-btn {
    margin-left: 10px;
  }

  &__list {
    max-height: 190px;
    overflow-y: auto;
    color: #263240;
    padding-right: 20px;
    width: 100%;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #bccbd6;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;

    &-value {
      font-size: 15px;
      font-weight: 700;
    }
  }
}
