.copyright-section {
  display: block;
  padding-top: 15px;
  padding-bottom: 25px;
  background-image: linear-gradient(to right, #465c74, #1b202d);
  color: #fff;
  text-align: center;

  h5 {
    margin: 0;
  }
}
