.btn {

  &-add {
    position: relative;
    padding-left: 45px;

    &::before, &::after {
      content: '';
      position: absolute;
      left: 14px;
      top: 17px;
      height: 2px;
      width: 22px;
      background-color: #fff;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &-secondary {
    border-width: 3px;
    border-color: $color-lightgreen;
    font-size: $font-size-large;
    background-color: transparent;
    border-radius: $btn-border-radius-large;
    color: #fff;
    padding-left: 45px;
    padding-right: 45px;

    &:hover {
      background-color: $color-lightgreen;
      color: #1b202d;
    }

    &:active {
      color: #fff;
      background-color: $text-color;
    }
  }

  &-upload {
    background-color: #e0e9ef;
    color: $color-grey;
  }
}
