.btn {

  &-secondary {
    border-width: 3px;
    border-color: $color-lightgreen;
    font-size: $font-size-large;
    background-color: transparent;
    border-radius: $btn-border-radius-large;
    color: #fff;
    padding-left: 45px;
    padding-right: 45px;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }

    &:hover {
      background-color: $color-lightgreen;
      color: #1b202d;
    }

    &:active {
      color: #fff;
      background-color: $text-color;
    }
  }

  &-grey {
    background-color: #e0e9ef;
    color: $color-grey;

    &:hover, &:focus {
      background-color: darken(#e0e9ef, 5%);
      color: $color-grey;
    }
  }

  &-block {
    display: block;
  }
}
