.btn {

  &-add {
    position: relative;
    padding-left: 45px;

    &::before {
      content: '\002b';
      position: absolute;
      left: 14px;
      top: 0;
      line-height: 1;
      font-size: 32px;
    }
  }

  &-secondary {
    border-width: 3px;
    border-color: $color-lightgreen;
    font-size: $font-size-large;
    background-color: transparent;
    border-radius: $btn-border-radius-large;
    color: #fff;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: 700;
  }
}
