.affi-header {
  display: block;
  padding-top: 183px;
  padding-bottom: 170px;
  color: #fff;
  position: relative;

  @media (max-width: $screen-md-max) {
    padding-bottom: 100px;
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 50px;
    padding-top: 150px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &__fixed {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;

    .btn {
      opacity: 0;
      pointer-events: none;
      transition: all .25s ease-in-out;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::before, &::after {
        content: none;
      }
    }

    &.active {
      padding: 6px 0 7px;
      position: fixed;
      top: 0;
      background-color: rgba(0, 0, 0, .85);
      z-index: 10;

      .btn {
        opacity: 1;
        pointer-events: all;
      }

      .affi-header__logo svg {
        width: 40px;
        height: 27px;
      }
    }
  }

  &__logo {
    display: block;

    svg {
      fill: #fff;
      width: 116px;
      height: 78px;
      transition: width .25s ease-in-out, height .25s ease-in-out;
    }
  }

  .affiliate__text {
    max-width: 68%;
    margin-bottom: 100px;

    @media (max-width: $screen-xl-max) {
      max-width: 82%;
    }

    @media (max-width: $screen-md-max) {
      max-width: 100%;
      margin-bottom: 50px;
    }

    h3 {
      @media (min-width: $screen-xxl-min) {
        font-size: 33px;
      }

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      @media (max-width: $screen-xs-max) {

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: flex-start;

    .countdown-screen__links {
      margin-top: 2px;
      margin-left: 80px;
      flex-basis: 35%;
    }

    .btn {
      @media (min-width: $screen-sm-min) {
        padding-left: 90px;
        padding-right: 90px;
      }
    }

    @media (max-width: $screen-md-max) {
      flex-direction: column;

      .countdown-screen__links {
        margin-left: 0;
        margin-top: 50px;
        flex-basis: auto;
        width: 100%;
      }
    }
  }
}
