include ../../blocks/logo/logo
include ../../blocks/icon/icons
include ../../blocks/button/button

mixin affi-header-fixed
  +e.fixed&attributes(attributes)
    .container
      +e.A(href='#').logo
        +icon('logo')
      +button.btn-secondary.btn-danger Join now

mixin affi-header-links
  +e.controls&attributes(attributes)
    +button.btn-secondary.btn-secondary-lg.btn-danger Join now
    .countdown-screen__links
      a(href='#', target='_blank')
        +icon('wt-social-bitcoin')
      a(href='#', target='_blank')
        +icon('wt-social-github')
      a(href='#', target='_blank')
        +icon('wt-social-medium')
      a(href='#', target='_blank')
        +icon('wt-social-reddit')
      a(href='#', target='_blank')
        +icon('wt-social-rocketchat')
      a(href='#', target='_blank')
        +icon('wt-social-telegram')
      a(href='#', target='_blank')
        +icon('wt-social-twitter')


mixin affi-header(img, links)
  +b.HEADER.affi-header&attributes(attributes).bg-image
    img(src='assets/images/'+img)
    +affi-header-fixed
    .container
      .affiliate__text
        block
      if links
        +affi-header-links
