include ../icon/icons

mixin button-icon(type)
  +b(type||'button').button-icon.btn&attributes(attributes)
    block

mixin button-icon-text
  +e.SPAN.text&attributes(attributes)
    block

mixin button-icon-item(icon)
  +icon(icon).__item&attributes(attributes)

mixin button-add
  +button-icon.btn-default&attributes(attributes)
    +button-icon-item('plus')._stroke_white._big
    +button-icon-text
      block
