mixin social-secondary()
  +b.social-secondary&attributes(attributes)
    +e.A(href='#').item
      img(src='assets/images/icon/facebook.svg')
    +e.A(href='#').item
      img(src='assets/images/icon/gplus.svg')
    +e.A(href='#').item
      img(src='assets/images/icon/linkedin.svg')
    +e.A(href='#').item
      img(src='assets/images/icon/twitter.svg')
    +e.A(href='#').item
      img(src='assets/images/icon/instagram.svg')
    +e.A(href='#').item
      img(src='assets/images/icon/pinterest.svg')
