mixin checkbox(checked, name)
  +b.checkbox&attributes(attributes)
    label
      input(type='checkbox' value='' name=name||'', checked=false||checked)
      block

mixin checkbox-inline(checked, name)
  +b.LABEL.checkbox-inline&attributes(attributes)
    input(type='checkbox' value='' name=name||'', checked=false||checked)
    block
