.checkbox, .checkbox-inline {
  padding-left: 30px;
  min-height: 20px;
  line-height: 1.1875;
  font-family: $font-family-second;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .25s ease-in-out;
  user-select: none;

  label {
    padding-left: 0;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color .25s ease-in-out;
  }

  &-secondary {
    padding-left: 40px;
  }

  &:hover {
    text-decoration-color: $brand-warning;

    label {
      text-decoration-color: $brand-warning;
    }

    .checkbox-box {
      box-shadow: 12px 0 12px 0 rgba(65, 86, 108, .01), 12px 0 68px 0 rgba(65, 86, 108, .34);
      border-color: #33414c;
    }
  }

  input {
    display: none;

    &:checked {

      & + .checkbox-box {
        box-shadow: 12px 0 12px 0 rgba(65, 86, 108, .01), 12px 0 68px 0 rgba(65, 86, 108, .34);
        border-color: #33414c;

        &::after {
          transform: scale(1);
        }
      }
    }
  }

  &-box {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #8897a3;
    transition: box-shadow .25s ease-in-out, border-color .25s ease-in-out;

    &::after {
      content: '';
      background-image: url('../images/icon/check.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 16px;
      height: 12px;
      left: 2px;
      top: 3px;
      transform: scale(0);
      transition: transform .25s ease-in-out;
    }
  }
}

.checkbox-inline {
  display: inline-block;
}
