include ../../blocks/activity-chart/activity-chart
include ../../blocks/icon/icons

mixin activity-meter()
  +b.activity-meter&attributes(attributes)
    +e.header
      h3 Month activity meter
      A(href='#')
        +icon('boost')
        | BOOST ME UP
    +activity-chart
    p This graph is based on overall company profile view per day and shows amount of unique visitors
