.btn-select {

  > svg {
    width: 18px;
    height: 10px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 14px;
    stroke-width: 2px;
    stroke: $color-grey;
    fill: transparent;
    transition: stroke .25s ease-in-out;
    pointer-events: none;
  }

  &.open {

    .dropdown-toggle {
      border-color: $color-lightgreen;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: transparent;
    }
  }

  &:hover, &.open {

    .dropdown-toggle {
      color: $text-color;
    }

    > svg {
      stroke: $color-lightgreen;
    }
  }

  &-control {
    display: none;
  }

  .dropdown-toggle {
    padding-right: 40px;
    position: relative;
    color: $color-grey;
    text-align: left;
  }
}
