.switch {
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 2px;

  &__item {
    display: inline-block;
    border-radius: 50px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
    line-height: 1.375;

    &.active {
      background-color: #fff;

      .switch__text {
        color: #000;
      }
    }
  }

  &__text {
    display: inline-block;
    line-height: 1.2em;
    color: #fff;
    transition: color .25s ease-in-out, border-color .25s ease-in-out;
  }

  &_transparent {
    border-color: rgba(255, 255, 255, .32);

    .switch__item.active {
      background-color: rgba(255, 255, 255, .55);
    }
  }

  &_big {
    font-size: 20px;
    border-color: #8897a3;
    padding: 4px;
    font-weight: 500;

    .switch__item {
      padding-left: 28px;
      padding-right: 28px;
      line-height: 2;

      &:not(.active) {

        &:hover {

          .switch__text {
            color: $color-lightgreen;
          }
        }

        .switch__text {
          border-bottom: 1px solid $color-lightgreen;
        }
      }
    }
  }
}
