.switch {
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid white;
  padding: 2px;
  user-select: none;
  display: flex;
  justify-content: center;
  // stylelint-disable
  // -webkit-transform: translateZ(0);
  // -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  // stylelint-enable

  &__item {
    display: inline-block;
    text-align: center;
    letter-spacing: -.04em;
    white-space: nowrap;
    flex-grow: 1;
    border-radius: 25px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
    line-height: 1.375;
    // stylelint-disable
    // -webkit-transform: translateZ(0);
    // -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    // stylelint-enable

    &.active {
      background-color: #fff;

      .switch__text {
        color: #000;
      }
    }
  }

  &__text {
    display: inline-block;
    line-height: 1.2em;
    color: #fff;
    transition: color .25s ease-in-out, border-color .25s ease-in-out;
  }

  &_transparent {
    border-color: rgba(255, 255, 255, .32);

    .switch__item.active {
      background-color: rgba(255, 255, 255, .55);
    }
  }

  &_big {
    font-size: 20px;
    border-color: #8897a3;
    padding: 4px;
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }

    .switch__item {
      line-height: 2;

      &:not(.active) {

        &:hover {

          .switch__text {
            color: $brand-success;
          }
        }

        .switch__text {
          border-bottom: 1px solid $brand-success;
        }
      }
    }
  }
}
