.footer-menu {
  display: block;
  padding: 0;

  &__item {
    color: #394a5e;
    font-size: 22px;
    list-style: none;
    letter-spacing: -.04em;

    @media (max-width: $screen-xs-max) {
      font-size: 17px;
    }

    &_heading {
      color: #a8b3bf;
      font-weight: 700;
      font-size: 25px;
      letter-spacing: -.04em;

      @media (max-width: $screen-xs-max) {
        font-size: 19px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    &:not(:first-child) {
      margin-top: 20px;

      @media (max-width: $screen-xs-max) {
        margin-top: 14px;
      }
    }
  }
}
