.company-profile-card {
  display: block;
  background-color: #fff;
  border: 1px solid rgb(236, 242, 244);
  box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .06);

  &__logo {
    @include ratio(1,1);
  }

  &__video {
    margin-top: 60px;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;

    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 34px;
    }
  }

  &__contact-link {
    margin-top: 20px;
    display: block;
    font-family: $font-family-base;
    font-size: 18px;
    font-weight: 400;
  }

  &__content {
    padding: 65px 65px 0;

    @media (max-width: $screen-sm-max) {
      padding: 30px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 15px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
    }
  }

  h3 {
    margin-top: 15px;
  }

  &__website {
    font-size: 16px;
    letter-spacing: -.04em;
    font-weight: 100;
  }

  &__text {
    margin-top: 60px;
    margin-bottom: 50px;

    p {
      margin-bottom: 0;

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &__icon-item {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    font-family: $font-family-second;

    svg {
      width: 25px;
      height: 20px;
      fill: $brand-success;
      margin-right: 10px;
    }

    b {
      margin-right: 5px;
    }

    &:not(:first-of-type) {
      margin-left: 45px;

      @media (max-width: $screen-sm-max) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }

  &__map {
    height: 185px;
    position: relative;

    &::after {
      pointer-events: none;
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, #fff 0%, transparent 50%);
    }
  }

  &__icon-items {
    display: flex;

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
    }
  }

  &__fullmap {
    font-size: 14px;
    font-family: $font-family-open-sans;
    line-height: 1.45;
    background-color: #445b72;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 10px;
    position: absolute;
    bottom: -1px;
    right: 60px;
    cursor: pointer;
    z-index: 4;
    font-weight: 600;
    transition: background-color .25s ease-in-out;

    svg {
      width: 10px;
      height: 16px;
      fill: $brand-success;
      position: absolute;
      left: 10px;
      top: 5px;
    }

    &:hover {
      background-color: #203040;
    }
  }
}
