mixin companies()
  +b.companies&attributes(attributes)
    .container
      +e.row.col-sm-12.col-xs-12.col-md-24
        - for(var i=1;i<=6;i++)
          a(href='#')
            img(src='assets/images/ico/company'+i+'.jpg')
      +e.row.col-sm-12.col-xs-12.col-md-24
        - for(var i=6;i>=1;i--)
          a(href='#')
            img(src='assets/images/ico/company'+i+'.jpg')
