.companies {
  display: block;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;

  &__row {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: $screen-sm-max) {
      flex-direction: column;

      a {
        margin-bottom: 20px;
      }
    }

    & + & {
      @media (min-width: $screen-md-min) {
        margin-top: 40px;
      }
    }

    a:hover {
      opacity: .7;
    }
  }
}
