include ../icon/icons

mixin search()
  +b.LABEL.search&attributes(attributes)
    +e.INPUT(type='text', placeholder='Search for heroes...').input
    +e.BUTTON(type='submit').icon
      +icon('header-search')
