include ../icon/icons
include ../button/button

mixin search()
  +b.LABEL.search&attributes(attributes)
    input(type='text', placeholder='Search for heroes...')
    +button
      +icon('header-search')
