mixin affi-promo()
  +b.affi-promo&attributes(attributes)
    .container
      .row.flex-wrap
        .col-lg-10.col-xs-24
          .affiliate__text.affiliate__text_second
            h1 SPECIAL PROMO NOTICE:
            p During our IAH service Pre-Launch, the price for upgrading to Superhero status is only $39.99 USD ....<b>PLUS</b>, we will be giving back <b>IAHC Coins</b> equal in value to the upgrade price!
        .col-lg-offset-2.col-lg-12.col-xs-24
          +e.text.affiliate__gradient
            h2 Hurry and grab this offer while it lasts!
            h3 In light of this Promotion, IAH will be rewarding Affiliate Superheroes with Double the Amount of their commissions in IAHC COIN Value.
            h3 Example: 35% of 39.99 = $13.99 USD <br>Affiliates will earn $13.99 USD
            h3
              b Plus an equivalent of $27.99 (2 X 13.99) in IAHC Coins.
