.affi-promo {
  display: block;
  background-color: #fff;

  .affiliate__text {
    padding-top: 75px;
    padding-bottom: 100px;
    height: 100%;

    @media (max-width: $screen-sm-max) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__text {
    padding: 75px 80px 100px;
    height: 100%;

    @media (max-width: $screen-sm-max) {
      padding: 40px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 30px;
    }

    h2 {
      font-size: 50px;
      margin-top: 0;
      font-weight: 700;
      letter-spacing: 0;

      &:not(:last-child) {
        margin-bottom: 70px;

        @media (max-width: $screen-xl-max) {
          margin-bottom: 45px;
        }

        @media (max-width: $screen-md-max) {
          margin-bottom: 30px;
          font-size: 35px;
        }

        @media (max-width: $screen-xs-max) {
          font-size: 25px;
        }
      }
    }

    h3 {
      margin-top: 0;

      &:not(:last-child) {
        margin-bottom: 40px;

        @media (max-width: $screen-sm-max) {
          margin-bottom: 20px;
        }
      }

      @media (max-width: $screen-sm-max) {
        font-size: 25px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 20px;
      }
    }
  }
}
