mixin page()
  +b.MAIN.page&attributes(attributes)
    block

mixin page-top-bg()
  +e.top-bg&attributes(attributes)
    block

mixin page-decoration()
  +e.decoration&attributes(attributes)
    block
