.page {
  position: relative;
  margin-top: 52px;

  &_profile {
    padding-top: 35px;
  }

  &_inner-standart {
    margin-top: 55px;
    margin-left: 55px;

    @media (max-width: $screen-sm-max) {
      margin-left: 0;
    }
  }

  &_inner-big {
    padding-top: 103px;
    padding-left: 440px;
  }

  &_faded {

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      background-image: linear-gradient(to bottom, rgba(231, 235, 238, .5) 0%, rgba(231, 235, 238, .75) 50%, rgba(231, 235, 238, 1) 70%);
    }
  }

  &__top-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #191d21;
    z-index: -1;
    pointer-events: none;
    transform: translate3d(0, 0, 0);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(84deg, rgba(24, 30, 41, 1) 0%, rgba(24, 30, 41, .5) 52%, rgba(39, 39, 39, 0) 100%);
    }

    &_inner {
      top: 55px;
      left: 55px;

      @media (max-width: $screen-md-max) {
        left: 0;
      }
    }

    &_overlay_blue {

      &::after {
        background-image: none;
        background-color: rgba(#263140, .35);
      }
    }
  }

  &__sidebar-wrap {
    margin-top: 35px;
    position: static;
  }

  &__company {
    padding-top: 270px;

    @media (max-width: $screen-lg-max) {
      padding-top: 135px;
    }

    @media (max-width: $screen-md-max) {
      padding-top: 50px;
    }
  }

  &__company-menu {
    margin-top: 55px;
  }
}
