.page {
  margin-top: 55px;
  position: relative;

  &_profile {
    padding-top: 35px;
    overflow-x: hidden;

    .container {
      padding-bottom: 85px;
    }
  }

  &_inner-standart {
    margin-left: 55px;

    @media (max-width: $screen-sm-max) {
      margin-left: 0;
    }
  }

  &__summary-btn {
    width: 100%;

    @media (min-width: $screen-lg-min) {
      width: 70vw;
      text-align: left;
    }
  }

  &__header-custom-secondary {
    display: flex;
    align-items: flex-start;

    svg {
      width: 35px;
      height: 28px;
      stroke: #465d74;
      margin-right: 25px;
      fill: none;
    }

    h3 {
      text-transform: uppercase;
      font-size: 35px;
      margin: 0;
      line-height: 1;
    }
  }

  &_inner-big {
    padding-top: 103px;
    padding-left: 440px;
    padding-right: 55px;

    @media (max-width: $screen-lg-max) {
      padding-left: 375px;
      padding-right: 35px;
    }

    @media (max-width: $screen-md-max) {
      padding-top: 90px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 55px;
      padding-right: 25px;
      padding-top: 0;
      margin-top: 35px;
    }
  }

  &_inner-medium {
    padding: 43px 55px 90px 440px;

    @media (max-width: $screen-lg-max) {
      padding-left: 375px;
      padding-right: 35px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 55px;
      padding-right: 25px;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: 38px;
    }
  }

  &_faded {

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40%;
      background-image: linear-gradient(to bottom, rgba(231, 235, 238, .5) 0%, rgba(231, 235, 238, .75) 50%, rgba(231, 235, 238, 1) 70%);
    }
  }

  &_dashboard {
    display: flex;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;

    @media (min-width: $screen-xl-min) and (max-width: 1720px) {

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 240px;
        background-image: linear-gradient(to right, transparent 0%, #fff 100%);
        pointer-events: none;
        z-index: 2;
      }
    }

    h3 {
      @media (max-width: $screen-xs-max) {
        font-size: 25px;
      }
    }

    .page__col-left > h2, {
      margin-top: 75px;
      margin-bottom: 0;

      @media (max-width: $screen-sm-max) {
        padding-left: 20px;
      }

      @media (max-width: $screen-xs-max) {
        margin-top: 30px;
        font-size: 35px;
        padding-left: 40px;
      }
    }

    .page__header-custom {

      h2 {
        @media (max-width: $screen-xs-max) {
          margin-top: 90px;
          padding-left: 0;
          font-size: 35px;
        }
      }
    }

    .rate-form {
      margin-top: 45px;
    }
  }

  &__col-left {
    padding: 40px 55px 250px;
    max-width: 100%;
    width: calc(100% - 520px);

    @media (max-width: 1720px) {
      min-width: 100%;
      width: 100%;
      padding-right: 295px;
    }

    @media (min-width: 1920px) {
      width: calc(100% - 720px);
    }

    @media (max-width: $screen-lg-max) {
      padding-right: 55px;
    }

    @media (max-width: $screen-md-max) {
      padding-bottom: 125px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 75px;
    }
  }

  &__col-right {
    z-index: 1;
    flex-basis: 520px;
    flex-shrink: 0;
    border-left: 1px solid #e1e9ec;
    box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .24);
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;

    @media (max-width: 1720px) {
      transform: translateX(-240px);

      &:hover {
        transform: translateX(-520px);
        z-index: 3;
        box-shadow: -1.618px 1.176px 109px 0 rgba(54, 70, 90, .83);
      }
    }

    @media (min-width: $screen-xxl-min) {
      flex-basis: 720px;
    }
  }

  &__top-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #191d21;
    pointer-events: none;
    transform: translate3d(0, 0, 0);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: linear-gradient(84deg, rgba(24, 30, 41, 1) 0%, rgba(24, 30, 41, .5) 52%, rgba(39, 39, 39, 0) 100%);
    }

    &_inner {
      top: 55px;
      left: 55px;

      @media (max-width: $screen-md-max) {
        left: 0;
      }
    }

    &_overlay_blue {

      &::after {
        background-image: none;
        background-color: rgba(#263140, .35);
      }
    }

    &_overlay_none {

      &::after {
        content: none;
      }
    }

    &_static {
      position: absolute;
    }
  }

  &__sidebar-wrap {
    margin-top: 35px;
    position: static;

    &_no-margin {
      margin-top: 0;
    }
  }

  &__company {
    padding-top: 270px;

    @media (max-width: $screen-xl-max) {
      padding-top: 100px;
    }

    @media (max-width: $screen-lg-max) {
      padding-top: 50px;
    }
  }

  &__card {
    margin-top: 50px;

    @media (max-width: $screen-xs-max) {
      margin-top: 25px;
    }
  }

  &__section {
    margin-top: 40px;

    &_big {
      margin-top: 60px;
    }

    &_lg {
      margin-top: 0;

      @media (max-width: $screen-lg-max) {
        margin-top: 40px;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 35px;
    }
  }

  &__company-menu {
    margin-top: 55px;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#1d2430, .54);
    display: none;
    z-index: 3;
  }

  &_messages {
    @media (max-width: $screen-xs-max) {
      padding-left: 40px;
      padding-right: 10px;
    }

    & ~ .to-top {
      bottom: 95px;
    }
  }
}
