extends ../../layouts/inner-page
include ../../components/huge-card/huge-card
include ../../components/side-modals/side-modals
include ../../blocks/bg-image/bg-image
include ../../blocks/icon/icons
include ../../blocks/label/label

block head
  - var pageTitle = 'I Am Hero - Suggested-jobs'


block content
  +page._inner-standart.suggested-jobs
    +e.overlay
    .row
      .col-lg-20.col-xxl-16
        +e.header-custom-secondary
          +icon('menu-offers')
          h3 SUGGESTED JOBS
        +huge-card('suggested-jobs/1-big.jpg', 'suggested-jobs/1.jpg', 'GRAPHIC DESIGNER IN bs company ALLOYS. AUSTRIAN DESIGN BERAUE', 'map').__section
        +huge-card('suggested-jobs/2-big.jpg', 'suggested-jobs/2.jpg', 'GRAPHIC DESIGN AT freedom agency', 'map-2').__section._big
        +huge-card('suggested-jobs/3-big.jpg', 'suggested-jobs/3.jpg', 'vortech', 'map-3').__section._big
        +side-modal-vacancy
