include ../plates/plates
include ../../blocks/thumbnail/thumbnail
include ../../blocks/label/label
include ../../blocks/button/button
include ../../blocks/input-markup/input-markup
include ../../blocks/button-icon/button-icon
include ../../blocks/button-dropdown/button-dropdown

mixin cases(edit)
  +b.cases#cases&attributes(attributes)
    +plate
      +e.header-container
        +e.H2.header Cases
        +e.head-filters
          +label-default-medium(data-filter='*').hidden-xs.active All
          +label-default-medium(data-filter='.design').hidden-xs Design
          +label-default-medium(data-filter='.illustration').hidden-xs Illustration
          +label-default-medium(data-filter='.retouching').hidden-xs Retouching
          +button-dropdown-custom('All').visible-xs
            +button-select-item('All')(data-filter='*')
            +button-select-item('Design')(data-filter='.design')
            +button-select-item('Illustration')(data-filter='.illustration')
            +button-select-item('Retouching')(data-filter='.retouching')
      if edit
        +input-markup.__top-30
          +input-markup-item._push_right
            +button-icon.btn-default
              +button-icon-item('plus')._stroke_white._big
              +button-icon-text Add new case
    .row.isotope
      .col-md-8.col-sm-12.isotope-item.design.illustration
        +thumbnail.thumbnail-case.sr-animate
          if edit
            +thumbnail-case-controls
          +thumbnail-case-img('profile-edit/cases/1.jpg')
          +thumbnail-content
            h3 Information Anomalies
            p Chongqing - major city in Southwest China. Chongqing's population as of 2016 is just over 32 million. It is the most populous Chinese municipality.
          +thumbnail-tags
            +label-case-tag Design
            +label-case-tag Illustration
            +label-case-tag Art-directing
      .col-md-8.col-sm-12.isotope-item.retouching
        +thumbnail.thumbnail-case.sr-animate
          if edit
            +thumbnail-case-controls
          +thumbnail-case-img('profile-edit/cases/2.jpg')
          +thumbnail-content
            h3 Winter In Squares
            p A winter trip through rural Central Europe. Snow, frost and ice have transformed the landscape, everything appears like an ink drawing. The colors are fading, contrasts between dark and light dominate the visual occurance. A concatenation of quiet and vast scenes, a trip with many stopovers, discovering the new and the known. Nature seems to stagnate during winter, an
          +thumbnail-tags
            +label-case-tag Pre-Production
            +label-case-tag Retouching
      .col-md-8.col-sm-12.isotope-item.design.illustration
        +thumbnail.thumbnail-case.sr-animate
          if edit
            +thumbnail-case-controls
          +thumbnail-case-img('profile-edit/cases/3.jpg')
          +thumbnail-content
            h3 Ripple Support Network
            p Ripple wanted to create a lightning fast response system to address help for students, recently living on their own. Pearl created the strategy, product, brand, and system that makes getting support on the phone one click away.
          +thumbnail-tags
            +label-case-tag Design
            +label-case-tag Illustration
            +label-case-tag Art-directing
      .col-md-8.col-sm-12.isotope-item.retouching
        +thumbnail.thumbnail-case.sr-animate
          if edit
            +thumbnail-case-controls
          +thumbnail-case-img('profile-edit/cases/2.jpg')
          +thumbnail-content
            h3 Winter In Squares
            p A winter trip through rural Central Europe. Snow, frost and ice have transformed the landscape, everything appears like an ink drawing. The colors are fading, contrasts between dark and light dominate the visual occurance. A concatenation of quiet and vast scenes, a trip with many stopovers, discovering the new and the known. Nature seems to stagnate during winter, an
          +thumbnail-tags
            +label-case-tag Pre-Production
            +label-case-tag Retouching
      .col-md-8.col-sm-12.isotope-item.retouching
        +thumbnail.thumbnail-case.sr-animate
          if edit
            +thumbnail-case-controls
          +thumbnail-case-img('profile-edit/cases/5.jpg')
          +thumbnail-content
            h3 Opera
            p A winter trip through rural Central Europe. Snow, frost and ice have transformed the landscape, everything appears like an ink
          +thumbnail-tags
            +label-case-tag Pre-Production
            +label-case-tag Retouching
      .col-md-8.col-sm-12.isotope-item.design.illustration
        +thumbnail.thumbnail-case.sr-animate
          if edit
            +thumbnail-case-controls
          +thumbnail-case-img('profile-edit/cases/4.jpg')
          +thumbnail-content
            h3 Lorod Company Identity
            p Chongqing - major city in Southwest China. Chongqing's population as of 2016 is just over 32 million. It is the most populous Chinese municipality.
          +thumbnail-tags
            +label-case-tag Design
            +label-case-tag Illustration
            +label-case-tag Art-directing
