extends ../../layouts/default
include ../../components/header/header
include ../../components/profile-header/profile-header
include ../../blocks/button/button
include ../../blocks/page/page
include ../../blocks/sidebar-menu/sidebar-menu
include ../../components/plates/plates


block head
  - var pageTitle = 'I Am Hero - Profile edit'

block content
  +header
  +page.profile-edit
    +page-top-bg._dark
    +page-decoration
    .container
      .row
        .col-lg-12
          +profile-header.profile-edit__header
        .col-lg-3
          +sidebar-menu(getData('sidebar-menu')).profile-edit__sidebar-menu
          +button.btn-secondary.sidebar-menu-button Preview
        .col-lg-9.page-decoration__plates
          +avatar-plate
          +skills-plate
          +plate
          +plate
          +plate
          +plate
          +plate
          +plate
          +plate
          +plate
