.profile-edit {
  display: block;
  padding-top: 35px;

  &__sidebar-menu {
    margin-top: 30px;
    margin-bottom: 20px;

    @media (min-width: $screen-lg-min) {
      margin-left: 37px;
    }
  }
}
