extends ../../layouts/profile
include ../../components/profile-header/profile-header
include ../../blocks/sidebar-menu/sidebar-menu
include ../../blocks/media/media
include ../../components/plates/plates
include ../../components/cases/cases
include ../../components/modals/modals


block head
  - var pageTitle = 'I Am Hero - Profile edit'

block background
  +page-top-bg

block profile-header
  +profile-header

block sidebar-menu
  +sidebar-wrap
    +media('profile-edit/avatar-small.jpg', 'Name Surname').__media Vocation
    +sidebar-menu(getData('sidebar-menu')).__menu
      +button.__button.btn-secondary.btn-color-inherit Preview

block content
  +avatar-plate
  +skills-plate
  +talents-plate
  +languages-plate
  +resume-plate(true)
  +services-plate(true)
  +interests-plate(true)
  +social-plate-static
  +video-plate
  +cases(true)

block modals
  +video-modal
  +case-modal
  +resume-modal
