include ../../blocks/input/input
include ../../blocks/button/button

mixin input-group-add(placeholder, button)
  +input-group&attributes(attributes)
    +input(placeholder=placeholder)
    span.input-group-btn
      +button-add-new(button)

mixin input-group
  +b.input-group&attributes(attributes)
    block
