include ../../blocks/slider/slider
include ../../blocks/news-item/news-item

mixin news-slider()
  +slider.news-slider&attributes(attributes)
    +slider-item
      +news-item('dashboard/news1.jpg') Students on Iamhero. You are hero already, and we know it
    +slider-item
      +news-item('dashboard/news2.jpg') We are starting to work in Italy headhunting workers worldwide!
    +slider-item
      +news-item('dashboard/news3.jpg') S7 Airlines headhunting through Iamhero. 1500 positions right now
    +slider-item
      +news-item('dashboard/news1.jpg') Students on Iamhero. You are hero already, and we know it
    +slider-item
      +news-item('dashboard/news2.jpg') We are starting to work in Italy headhunting workers worldwide!
    +slider-item
      +news-item('dashboard/news3.jpg') S7 Airlines headhunting through Iamhero. 1500 positions right now

mixin news-slider-ico()
  +slider.news-slider.sr-animate&attributes(attributes)
    +slider-item
      +news-item('ico/news-1.jpg') The new way of getting that Highly Valued Customer
    +slider-item
      +news-item('ico/news-2.png') AI is fascinating
    +slider-item
      +news-item('ico/news-3.jpg') IAMHERO Inc is hitting the Job search Market running with its  New AI Assisted Matching Engine
    +slider-item
      +news-item('ico/news-1.jpg') The new way of getting that Highly Valued Customer
    +slider-item
      +news-item('ico/news-2.png') AI is fascinating
    +slider-item
      +news-item('ico/news-3.jpg') IAMHERO Inc is hitting the Job search Market running with its  New AI Assisted Matching Engine
