.fast-forward {
  background-image: linear-gradient(to left, #1b202d 0%, #465d75 55%, #59bba0 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 40px 15px 25px;

  &__heading {
    font-weight: 500;
    font-size: 35px;
    letter-spacing: -.04em;
    color: #fff;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 40px;
    }

    svg {
      width: 22px;
      height: 22px;
      fill: $brand-warning;
      margin-right: 10px;
    }

    a {
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
      border-bottom: 1px solid #5b6e84;
    }
  }
}
