.circle-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_horizontal {

    h6 {
      font-weight: 700;
      margin-bottom: 15px;
    }

    @media (max-width: $screen-xs-max) {
      text-align: center;
    }

    @media (min-width: $screen-sm-min) {
      flex-direction: row;
      align-items: flex-start;

      .circle-icon-item__text {
        margin-top: -5px;
        margin-left: 20px;
      }
    }
  }

  &__text {
    margin-top: 15px;

    h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__circle {
    transform: rotate(-65deg);
  }

  &__count-wrap {
    position: relative;
  }

  &__icon {
    position: absolute;
    width: 20px;
    height: 15px;
    top: -3px;
    transform: translateX(-50%);
    left: 50%;
    fill: none;
    stroke: #5e6e7f;
  }

  &__count {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 48%;
    font-size: 21px;
    letter-spacing: -.04em;
  }
}
