include ../icon/icons

mixin circle-icon-item(icon, count)
  +b.circle-icon-item&attributes(attributes)
    +e.count-wrap
      +e.SVG(width='80', height='80', viewBox='0 0 80 80').circle
        circle(cx="40", cy="40", r="38.5", fill="none", stroke="#ffc425", stroke-width="3", stroke-dasharray="241.78", stroke-dashoffset="36.267")
      +icon(icon).__icon
      +e.SPAN.count.font-weight-medium= count
    h6.font-weight-medium
      block
