include ../../blocks/inner-plate/inner-plate
include ../../blocks/tabs/tabs
include ../../blocks/icon/icons
include ../../blocks/circle-icon-item/circle-icon-item

mixin spec-section()
  +b.spec-section&attributes(attributes)
    .container
      .row
        .col-lg-8.col-xs-24
          +inner-plate._padding_none
            +e.text._padded
              h4 Specifications
            +tabs.inner-plate__stats-icon.inner-plate__stats-icon_secondary
              +tab-custom('overview', 'inner-plate__stats-icon-item').active
                +icon('eye-fill')
                span Overview
              +tab-custom('docs', 'inner-plate__stats-icon-item')
                +icon('clock')
                span Documentation
              +tab-custom('pricing', 'inner-plate__stats-icon-item')
                +icon('bag')
                span Pricing and plans
              +tab-custom('reviews', 'inner-plate__stats-icon-item')
                +icon('buy')
                span Reviews
              +tab-custom('howto', 'inner-plate__stats-icon-item')
                +icon('mail')
                span How to
        .col-lg-16.col-xs-24
          +tab-content
            +tab-pane.spec-section__circles#overview.active.in
              +circle-icon-item('eye-thin', '156')._horizontal
                h6 Easy title
                p DRT will be traadable on exchanges. We are currently in discussion with Bittrex, Coinone and ElterDelta
              +circle-icon-item('heroes-thin', '893')._horizontal
                h6 Easy title
                p DRT will be traadable on exchanges. We are currently in discussion with Bittrex, Coinone and ElterDelta
              +circle-icon-item('messages-thin', '2')._horizontal
                h6 Easy title
                p DRT will be traadable on exchanges. We are currently in discussion with Bittrex, Coinone and ElterDelta
              +circle-icon-item('eye-thin', '156')._horizontal
                h6 Easy title
                p DRT will be traadable on exchanges. We are currently in discussion with Bittrex, Coinone and ElterDelta
            +tab-pane#docs
            +tab-pane#pricing
            +tab-pane#reviews
            +tab-pane#howto
