.spec-section {
  display: block;
  padding-top: 45px;
  padding-bottom: 45px;

  .tab-content {
    padding: 50px 85px;
    background-color: #fff;
    height: 100%;

    @media (max-width: $screen-xl-max) {
      padding: 50px 60px;
    }

    @media (max-width: $screen-lg-max) {
      padding: 50px 40px;
    }

    .tab-pane {
      height: 100%;
    }

    .spec-section__circles.active {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    &::before, &::after {
      content: none;
    }
  }

  .circle-icon-item {
    max-width: 365px;
    margin-bottom: 20px;

    @media (max-width: $screen-xl-max) {
      max-width: 330px;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 100%;
    }
  }
}
