extends ../../layouts/inner-page
include ../../components/profile-header/profile-header
include ../../blocks/sidebar-menu/sidebar-menu
include ../../blocks/media/media
include ../../components/plates/plates
include ../../components/cases/cases
include ../../components/modals/modals
include ../../components/get-started/get-started

block head
  - var pageTitle = 'I Am Hero - Profile'

//- block background
  +bg-image('profile-edit/background.jpg').__top-bg

//- block profile-header
  +profile-header-static

//-block sidebar-menu
  -
    var sidebarMenu = getData('sidebar-menu')
    sidebarMenu[2].disabled = false
  +sidebar-wrap
    +media('profile-edit/avatar-small.jpg', 'Mark Marthell').media-white.__media singer
    +sidebar-menu(sidebarMenu)._static.__menu

block content
  +page._inner-standart._profile
    +bg-image('profile-edit/background.jpg').__top-bg._overlay_blue._inner
    .container
      .row
        .col-xxl-21.col-xxl-offset-1.col-xs-24
          +profile-header-static
        +e.sidebar-wrap.col-xxl-offset-1.col-xxl-5.col-lg-6
          -
            var sidebarMenu = getData('sidebar-menu')
            sidebarMenu[2].disabled = false
          +sidebar-wrap
            +media('profile-edit/avatar-small.jpg', 'Mark Marthell').media-white.__media singer
            +sidebar-menu(sidebarMenu)._static.__menu
        .col-xxl-16.col-lg-18.col-xs-24
          +avatar-plate-static
          +skills-plate-static
          +talents-plate-static
          +languages-plate-static
          +resume-plate
          +services-plate-static
          +interests-plate
          +social-plate
          +video-plate-static
          +cases
    +get-started
    +footer

block modals
  +case-open-modal
