.affi-bg {
  display: block;
  color: #fff;

  &.page-section_huge {

    .affiliate__text h2 {
      font-weight: 300;

      @media (min-width: $screen-xxl-min) {
        font-size: 66px;
      }
    }

    .btn-danger {
      @media (min-width: $screen-xxl-min) {
        margin-top: 180px;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .affiliate__text {

    h1 {
      font-weight: 300;

      &:not(:last-child) {
        @media (min-width: $screen-lg-min) {
          margin-bottom: 90px;
        }
      }
    }
  }
}
