include ../../blocks/rangeslider/rangeslider
include ../../blocks/icon-close/icon-close

mixin rangeslider-label(label, color)
  +b.rangeslider-wrap&attributes(attributes)
    +e.header
      h4= label
      +e.H4.output
    +e.controls
      +rangeslider(class='rangeslider_color_'+color)
      +icon-close().rangeslider-wrap__icon-close

mixin rangeslider-label-static(label, color)
  +b.rangeslider-wrap&attributes(attributes)
    +e.header
      h4= label
      +e.H4.output
    +e.controls
      +rangeslider(class='rangeslider_static rangeslider_color_'+color)

mixin rangeslider-nolabel(color)
  +b.rangeslider-wrap&attributes(attributes)
    +e.SPAN.output._nolabel
    +rangeslider(class='rangeslider_color_'+color)

mixin rangeslider-nolabel-static(color)
  +b.rangeslider-wrap&attributes(attributes)
    +e.SPAN.output._nolabel
    +rangeslider(class='rangeslider_static rangeslider_color_'+color)
