.rangeslider-wrap {
  display: block;
  position: relative;
  width: 100%;

  &:hover, &:active {

    .rangeslider-wrap__icon-close {
      opacity: 1;
    }

    .rangeslider-wrap__output_nolabel {
      opacity: 1;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7px;

    @media (max-width: $screen-xs-max) {
      padding-right: 25px;
    }

    h4 {
      margin: 0;
    }
  }

  &__controls {
    position: relative;
    margin-top: 15px;

    @media (max-width: $screen-xs-max) {
      width: 88%;
    }

    .icon-close {
      position: absolute;
      top: -5px;
      right: -30px;
    }
  }

  &__icon-close {
    opacity: 0;

    @media (max-width: $screen-xs-max) {
      opacity: 1;
    }
  }

  &__output {
    letter-spacing: -.04em;

    @media (max-width: $screen-xs-max) {
      font-size: 19px;
    }

    &_nolabel {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: -25px;
      font-weight: 500;
      transition: opacity .25s ease-in-out;

      @media (min-width: $screen-md-min) {
        opacity: 0;
      }

      @media (max-width: $screen-xs-max) {
        transform: none;
        right: 0;
        left: auto;
        top: -35px;
        font-weight: 100;
      }
    }
  }
}
