include ../../blocks/rangeslider/rangeslider
include ../../blocks/icon-close/icon-close

mixin rangeslider-label(label, color, value)
  +b.rangeslider-wrap&attributes(attributes)
    +e.header
      h4= label
      +e.H4.output
    +e.controls
      +rangeslider-custom('0', '100', '1', value||'50')(class='rangeslider_color_'+color)
      +icon-close().rangeslider-wrap__icon-close

mixin rangeslider-label-static(label, color, value)
  +b.rangeslider-wrap&attributes(attributes)
    +e.header
      h4= label
      +e.H4.output
    +e.controls
      +rangeslider-custom('0', '100', '1', value||'50')(class='rangeslider_static rangeslider_color_'+color)

mixin rangeslider-nolabel(color)
  +b.rangeslider-wrap&attributes(attributes)
    +e.SPAN.output._nolabel
    +rangeslider(class='rangeslider_color_'+color)

mixin rangeslider-nolabel-static(color)
  +b.rangeslider-wrap&attributes(attributes)
    +e.SPAN.output._nolabel
    +rangeslider(class='rangeslider_static rangeslider_color_'+color)

mixin rangeslider-gradient
  +b.rangeslider-wrap&attributes(attributes)
    +e.meter
      span 0
      span 10
    +e.SPAN.output-custom
    +rangeslider-custom('0', '10', '0.05', '7.45').rangeslider_gradient

mixin rangeslider-warning(label, value)
  +b.rangeslider-wrap&attributes(attributes)
    +e.SPAN.label= label
    +e.SPAN.output-custom-percent
    +rangeslider-custom('0', '100', '1', value).rangeslider_static.rangeslider_warning
