include ../../components/rangesliders/rangesliders
include ../../blocks/button/button

mixin rate-form()
  +b.FORM.rate-form&attributes(attributes)
    +rangeslider-gradient
    +button.btn-secondary-warning Send your opinion
    block
