include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/input/input
include ../../blocks/switch/switch

mixin get-started()
  +b.get-started&attributes(attributes)
    .container
      +e.H1.heading Get started now!
        +e.SPAN.heading_colored For Free
      +e.H3.subheading Over 500 000 heroes can’t be wrong...
      form.row
        +e.switcher.col-lg-5.col-xm-6.col-xm-offset-0.col-md-offset-4.col-md-8.col-sm-12.__input
          +switch('Job seeker', 'Employer')._big
        +e.input.col-lg-5.col-xm-6.col-md-8.col-sm-12
          +input('Full name').form-control-secondary
        +e.input.col-lg-5.col-xm-6.col-xm-offset-0.col-md-offset-4.col-md-8.col-sm-12
          +input('E-mail adress').form-control-secondary
        +e.input.col-lg-5.col-xm-6.col-md-8.col-sm-12
          +input('Create password').form-control-secondary
        +e.input.col-lg-4.col-xm-6.col-xm-offset-0.col-md-offset-4.col-md-16.col-xs-24
          +button.btn-secondary Continue
