include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/input/input
include ../../blocks/switch/switch

mixin get-started()
  +b.get-started&attributes(attributes)
    .container.container-mobile-padded
      +e.H1.heading Get started now!
        +e.SPAN.heading_colored For Free
      +e.H3.subheading Over 500 000 heroes can’t be wrong...
      form.row
        +e.switcher.col-xl-5.col-lg-6.col-lg-offset-0.col-md-offset-4.col-md-8.col-sm-12.__input
          +switch('Job seeker', 'Employer')._big
        +e.input.col-xl-5.col-lg-6.col-md-8.col-sm-12
          .form-group
            +input('Full name', 'name').form-control-secondary
            span.help-block
        +e.input.col-xl-5.col-lg-6.col-lg-offset-0.col-md-offset-4.col-md-8.col-sm-12
          .form-group.has-success
            +input('E-mail adress', 'email').form-control-secondary
            span.help-block Success!
        +e.input.col-xl-5.col-lg-6.col-md-8.col-sm-12
          .form-group.has-error
            +input('Create password', 'password').form-control-secondary
            span.help-block Password must be at least 8 symbols long
        +e.input.col-xl-4.col-lg-6.col-lg-offset-0.col-md-offset-4.col-md-16.col-xs-24
          +button.btn-secondary.btn-secondary-big Continue
