.entry-page {
  display: block;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #16232c 0%, #166a66 50%, rgba(43, 162, 136, 1) 100%);
  padding-top: 20px;
  position: relative;
  overflow-x: hidden;

  @media (min-width: $screen-md-min) {
    padding-top: 35px;
  }

  @media (min-width: $screen-xxl-min) {
    padding-top: 65px;
  }

  .col-xs-24 {
    z-index: 1;
  }

  &__center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: block;
    width: 195px;
    height: 138px;

    @media (max-width: $screen-sm-max) {
      width: 140px;
      height: 100px;
    }
  }

  &__form {
    margin-top: 100px;

    @media (min-width: $screen-xxl-min) {
      margin-top: 260px;
    }

    @media (max-width: $screen-sm-max) {
      margin-top: 60px;
    }
  }

  &__copyright {
    margin-top: 150px;
    margin-bottom: 460px;

    @media (max-width: $screen-xs-max) {
      margin-top: 70px;
      margin-bottom: 370px;
    }
  }

  &__decoration {
    position: absolute;
    bottom: 13px;
    right: 90px;
    pointer-events: none;
    user-select: none;

    @media (max-width: $screen-xs-max) {
      width: 280px;
      right: 20px;
    }
  }
}
