extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/select/select
include ../../blocks/inner-card/inner-card
include ../../components/side-modals/side-modals
include ../../components/top-filter/top-filter
include ../../components/aside-filter/aside-filter
include ../../components/rangesliders/rangesliders

block head
  - var pageTitle = 'I Am Hero - Job listing'

block top-filter
  +top-filter

block aside-filter
  +aside-filter
    +aside-filter-item
      +aside-filter-heading('menu-search') filter
      +select([{value: '1', text: 'Designer 2200'}, {value: '2', text: 'Main office manager'}, {value: '3', text: 'Search 31'}, {value: '4', text: 'Rage'}, {value: '5', text: 'Project management'}, {value: '6', text: 'Graphic designer'}, {value: '7', text: 'Graphic designer'}, {value: '8', text: 'Graphic designer'}, {value: '9', text: 'Graphic designer'}, {value: '10', text: 'Graphic designer'}], 'Job type')._big._warning.__input
      +select([{value: 'us', text: 'USA'}, {value: 'ru', text: 'Russia'}, {value: 'lv', text: 'Latvia'}], 'Location')._big._warning.__input
      +select([{value: 'us', text: 'USA'}, {value: 'ru', text: 'Russia'}, {value: 'lv', text: 'Latvia'}], 'Location')._big._warning.__input
      +rangeslider-salary.__input
      +button.btn-secondary-warning.btn-secondary-warning-medium.font-weight-medium.__btn-submit Submit
    +aside-filter-item._no-side
      +aside-filter-heading('saved') saved searches
      +aside-filter-search-item Designer 2200
      +aside-filter-search-item Main office manager
      +aside-filter-search-item Search 31
      +aside-filter-search-item Rage
      +aside-filter-search-item Project management

block content
  +page._inner-big._faded.job-listing
    .job-listing__content
      +company-to-attend('1.jpg', 'Industrial Designer at BS Company', 'Designer')
      +company-to-attend('2.jpg', 'Freedom Agency', 'Designer')
      +company-to-attend('3.jpg', 'Maxdino', 'Designer')
      +company-to-attend('4.jpg', 'Trade Plus', 'Designer')
      +company-to-attend('5.jpg', 'Monkey Logo designer Needed', 'Designer')
      +company-to-attend('6.jpg', 'Arbo tech Logo designer Needed', 'Designer')
      +company-to-attend('3.jpg', 'Maxdino', 'Designer')
      +company-to-attend('4.jpg', 'Trade Plus', 'Designer')
      +company-to-attend('5.jpg', 'Monkey Logo designer Needed', 'Designer')
      +company-to-attend('5.jpg', 'Monkey Logo designer Needed', 'Designer')
    +side-modal-map.job-listing__map
