include ../icon-close/icon-close

mixin label
  +b.SPAN.label&attributes(attributes)
    block

mixin label-small
  +b.SPAN.label&attributes(attributes)
    block

mixin label-talents
  +label.label-default.label-rounded.label-bordered.label-larger.label-hover-success&attributes(attributes)
    block

mixin label-talents-close
  +label.label-default.label-rounded.label-bordered.label-larger.label-hover-success.label-close&attributes(attributes)
    block
    a(href='#')
      +icon-close

mixin label-default-medium
  +label.label-default.label-rounded.label-bordered.label-hover-success.label-medium&attributes(attributes)
    block

mixin label-case-tag
  +label.label-bg-grey.label-font-light.label-font-black.label-rounded.label-font-standart&attributes(attributes)
    block

mixin label-case-tag-close
  +label.label-bg-grey.label-font-light.label-font-black.label-close.label-close-small.label-rounded&attributes(attributes)
    block
    a(href='#')
      +icon-close
