.label {
  display: inline-block;

  &-tag {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font-second;
    font-weight: 400;
  }

  &-thin {
    font-weight: 100;
  }

  &-font-light {
    font-weight: 300;
  }

  &-font-black {
    color: #000;
  }

  &-larger {
    font-size: $font-size-larger;
    padding: 5px 20px 6px;
  }

  &-medium {
    font-size: 16px;
    padding: .38em .97em;
  }

  &-bg-grey {
    background-color: #e2eaf0;
  }

  &-close {
    padding-right: 40px;
    position: relative;
  }

  &-close-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 14px;
  }
}
