.label {
  display: inline-block;

  &-tag {
    padding-bottom: .2rem;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font-second;
    font-weight: 400;
  }

  &-thin {
    font-weight: 100;
  }

  &-larger {
    font-size: $font-size-larger;
    padding: 5px 20px 6px;
  }

  &-close {
    padding-right: 40px;
    position: relative;
  }

  &-close-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 14px;
  }
}
