.label {
  display: inline-block;

  &-thin {
    font-weight: 100;
  }

  &-larger {
    font-size: $font-size-larger;
    padding: 5px 20px 6px;
  }

  &-close {
    padding-right: 40px;
    position: relative;
  }

  &-bg {

    &-lightgreen {
      background-color: $color-lightgreen;
      color: #191e28;
    }

    &-red {
      color: #c3424f;
    }

    &-violet {
      color: #5d45d8;
    }
  }

  &-close-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 14px;
  }
}
