include ../../blocks/icon/icons
include ../../blocks/label/label
include ../../blocks/icon-close/icon-close

mixin timeline()
  +b.timeline&attributes(attributes)
    block

mixin timeline-item
  +b.timeline-item&attributes(attributes)
    block

mixin timeline-item-header-edit(label, date)
  +e.header&attributes(attributes)
    +label.label-rounded.label-uppercase.label-font-second.label-font-regular.label-font-white.label-smaller= label
    +e.P.date.__left-8= date
    +e.edits
      +e.A(href='#').__left-8
        +icon('pencil').icon-edit
      +e.A(href='#').__left-8
        +icon-close

mixin timeline-item-header(label, date)
  +e.header&attributes(attributes)
    +label.label-rounded.label-uppercase.label-font-second.label-font-regular.label-font-white.label-smaller= label
    +e.P.date.__left-8= date

mixin timeline-show
  +e.show-controls&attributes(attributes)
    p Show:
    +label.label-rounded.label-uppercase.label-font-second.label-font-regular.label-smaller.label-success.label-hover-border-red.label-show-small
      +icon('eye-fill')
      | education
    +label.label-rounded.label-uppercase.label-font-second.label-font-regular.label-smaller.label-hover-border-red.label-show-small.label-show-disabled
      +icon('eye-fill-disabled')
      | AWARDS AND CERTIFICATES
    +label.label-rounded.label-uppercase.label-font-second.label-font-regular.label-smaller.label-hover-border-red.label-show-small.label-show-disabled
      +icon('eye-fill-disabled')
      | WORK
