include ../../blocks/icon/icons

mixin affi-footer()
  +b.FOOTER.affi-footer&attributes(attributes)
    .container
      +e.A(href='#').logo
        +icon('logo')
      h4 IAMHERO INC.    940 Stewart Drive #316    Sunnyvale 94085    California USA
