.sidebar-menu {

  &_static {

    .sidebar-menu-item::before {
      content: none;
    }
  }

  &-item {
    padding-left: 25px;
    color: #fff;
    font-size: 18px;
    letter-spacing: -.04em;

    &::before {
      position: absolute;
      font-size: 14px;
      left: 0;
      top: 14px;
      font-family: 'Glyphicons Halflings';
      content: '\e105';
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }

    a {
      transition: color .25s ease-in-out;

      &:hover {
        color: $color-lightgreen;
      }
    }

    &-active {
      font-weight: 500;

      &::before {
        color: $color-lightgreen;
      }

      &::after {
        content: '';
        height: 4px;
        background-color: #25ffc4;
        position: absolute;
        width: 50vw;
        left: calc(-50vw - 10px);
        top: 18px;
      }
    }

    &-disabled {
      color: #97999c;
      pointer-events: none;

      &::before {
        content: '\e106';
      }
    }
  }

  &-button {
    margin-left: 45px;
  }
}
