.sidebar-menu {
  padding-left: 0;

  &_static {

    .sidebar-menu__item {
      padding-left: 0;
    }

    .sidebar-menu__icon {
      opacity: 0;
      pointer-events: none;
    }
  }

  li {
    list-style-type: none;
  }

  &__icon {
    width: 16px;
    height: 12px;
    fill: #688595;
    margin-right: 2px;
    transition: fill .25s ease-in-out;
  }

  &__item {
    position: relative;
    color: #688595;
    font-size: 17px;
    letter-spacing: -.04em;
    padding: 8px 0 8px 20px;
    transition: all .25s ease-in-out;

    @media (max-width: $screen-xs-max) {
      font-size: 16px;
    }

    a {
      color: inherit;
      padding: 0 !important;

      &:hover {
        color: #1a2226;
      }
    }

    &.active {
      font-weight: 500;

      .sidebar-menu__icon {
        fill: $brand-success;
      }

      &::after {
        @media (min-width: $screen-lg-min) {
          content: '';
          height: 4px;
          background-color: #25ffc4;
          position: absolute;
          width: 50vw;
          left: calc(-50vw + 2px);
          top: 16px;
        }
      }
    }

    &.disabled {
      color: #97999c;
      pointer-events: none;

      .sidebar-menu__icon {
        fill: #97999c;
      }
    }
  }
}

.sidebar-wrap {
  background-color: #fff;
  padding: 0 15px 30px;
  transition: opacity .5s ease-in-out, top .5s ease-in-out;
  position: relative;
  z-index: 3;

  @media (max-width: $screen-md-max) {
    display: flex;
    width: 100%;
    position: fixed;
    top: 75px;
    left: 0;
    z-index: 10;
    padding: 75px 35px;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
  }

  @media (max-width: $screen-xs-max) {
    justify-content: flex-start;
    padding: 45px 20px;
  }

  &.active {
    top: 57px;
    opacity: 1;
    pointer-events: all;
  }

  &__media {
    position: relative;

    @media (min-width: $screen-lg-min) {
      top: -25px;
      padding-left: 10px;
    }

    @media (max-width: $screen-md-max) {
      margin-top: 75px !important;
      margin-right: 40px;
    }

    @media (max-width: $screen-xs-max) {
      margin-right: 20px;
    }
  }

  &__menu {
    margin-top: -10px;
  }

  &__button {
    margin-top: 40px;
    margin-left: 20px;

    @media (max-width: $screen-md-max) {
      margin-top: 10px;
    }
  }
}
