mixin sidebar-menu(data)
  +b.UL.sidebar-menu&attributes(attributes)
    each item in data
      if item.active
        li(role='navigation').sidebar-menu-item.active
          a(href=item.path)= item.text
      else if item.disabled
        li(role='navigation').sidebar-menu-item.disabled
          a(href=item.path)= item.text
      else
        li(role='navigation').sidebar-menu-item
          a(href=item.path)= item.text
    block
