.sidebar-menu {
  display: block;

  &-item {
    padding-left: 25px;
    color: #fff;
    font-size: 18px;

    &::before {
      position: absolute;
      font-size: 14px;
      left: 0;
      top: 14px;
      font-family: 'Glyphicons Halflings';
      content: '\e105';
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }

    &-active {
      font-weight: 500;

      &::before {
        color: $color-lightgreen;
      }

      &::after {
        content: '';
        height: 3px;
        background-color: #25ffc4;
        position: absolute;
        width: 30vw;
        left: -31vw;
        top: 20px;
      }
    }

    &-disabled {
      color: #97999c;
      pointer-events: none;

      &::before {
        content: '\e106';
      }
    }
  }

  &-button {
    margin-left: 45px;
  }
}
