include ../icon/icons

mixin sidebar-menu(data)
  +b.UL.sidebar-menu&attributes(attributes)
    each item in data
      if item.active
        +e.LI.item.active
          +icon('eye-fill').__icon
          a(href=item.path)= item.text
      else if item.disabled
        +e.LI.item.disabled
          +icon('eye-fill-disabled').__icon
          a(href=item.path)= item.text
      else
        +e.LI.item
          +icon('eye-fill').__icon
          a(href=item.path)= item.text
    block

mixin sidebar-wrap
  +b.sidebar-wrap&attributes(attributes)
    block
