mixin sidebar-menu(data)
  +b.UL.list-group.sidebar-menu&attributes(attributes)
    each item in data
      if item.active
        li.list-group-item.sidebar-menu-item.sidebar-menu-item-active
          a(href=item.path)= item.text
      else if item.disabled
        li.list-group-item.sidebar-menu-item.sidebar-menu-item-disabled
          a(href=item.path)= item.text
      else
        li.list-group-item.sidebar-menu-item
          a(href=item.path)= item.text
