.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 28px;

  .switch {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }

  .media {
    max-width: 38%;
  }
}
