include ../../blocks/button/button
include ../../blocks/media/media
include ../../blocks/switch/switch
include ../../blocks/button-icon/button-icon
include ../../blocks/upload/upload

mixin profile-header()
  +b.profile-header&attributes(attributes)
    //- +media('profile-edit/avatar-small.jpg', 'Name Surname').media-white.hidden-xs.hidden-sm Vocation
    +switch('Full version', 'Print version')._transparent
    +upload.__upload
      +button-icon().btn-success-transparent
        +button-icon-text Change background picture/video
        +button-icon-item('camera')._white._after

mixin profile-header-static()
  +b.profile-header._static&attributes(attributes)
    //- +media('profile-edit/avatar-small.jpg', 'Mark Marthell').media-white.hidden-xs.hidden-sm singer
    +switch('Full version', 'Short version')._transparent
