.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 28px;

  @media (min-width: $screen-md-min) {
    justify-content: flex-end;
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column;

    .switch {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &_static {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      justify-content: center;
    }
  }

  .switch {
    @media (min-width: $screen-md-min) {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  .media {
    max-width: 38%;
  }

  &__upload {
    @media (max-width: $screen-xs-max) {
      align-self: stretch;

      .btn {
        width: 100%;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
