include ../../blocks/button/button
include ../../blocks/media/media

mixin profile-header()
  +b.profile-header&attributes(attributes)
    +media('profile-edit/avatar-small.jpg', 'Name Surname').media-white.hidden-sm.hidden-xs Vocation
    +button().btn-success Change background picture/video

mixin profile-header-static()
  +b.profile-header&attributes(attributes)
    +media('profile-edit/avatar-small.jpg', 'Mark Marthell').media-white.hidden-sm.hidden-xs singer
