.demo-section {
  display: block;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 60px;
  overflow: hidden;

  &__text {

    h2 {
      margin-top: 0;
      margin-bottom: 60px;
    }

    a {
      margin-bottom: 20px;
    }

    h6 {
      font-family: $font-family-open-sans;
      letter-spacing: 0;
      font-weight: 700;
      font-size: 14px;
      margin-top: 65px;
      margin-bottom: 35px;
    }
  }

  &__mockups {
    position: relative;

    .mockup-1 {
      position: absolute;
      z-index: 1;
      left: 0;
      top: -100px;
    }

    .mockup-2 {
      position: absolute;
      z-index: 2;
      left: -110px;
      top: 140px;
    }

    .mockup-3 {
      position: absolute;
      z-index: 3;
      left: 0;
      top: 450px;
    }

    .mockup-4 {
      position: absolute;
      z-index: 4;
      left: 220px;
      top: 170px;
    }

    .mockup-5 {
      position: absolute;
      z-index: 5;
      left: 320px;
      top: -80px;
    }
  }
}
