.shortlist {
  display: block;
  padding-right: 390px;

  @media (min-width: $screen-xl-min) and (max-width: 1599px) {
    padding-right: 265px;
    padding-left: 415px;
  }

  @media (max-width: $screen-lg-max) {
    padding-right: 35px;
  }

  .inner-card {
    margin-top: 45px;
  }

  &__modal {
    width: 335px;

    p {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    @media (min-width: $screen-xl-min) and (max-width: 1599px) {
      width: 240px;

      .inner-plate {
        padding: 15px;
      }
    }

    @media (max-width: $screen-md-max) {
      width: 240px;

      .inner-plate {
        padding: 15px;
      }
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      height: auto;
      top: auto;
      bottom: 0;

      .side-modal__content {
        padding-bottom: 0;
      }
    }

    textarea {
      margin-top: 20px;
    }

    .btn {
      margin-top: 20px;
      width: 100%;
    }
  }

  &__overlay {
    padding-top: 280px;
    padding-right: 415px;
    text-align: right;
    padding-left: 440px;
    z-index: 2;

    @media (max-width: 1599px) {
      padding-right: 290px;
    }

    @media (max-width: $screen-lg-max) {
      padding-right: 335px;
      text-align: left;
      padding-left: 375px;
    }

    @media (max-width: $screen-md-max) {
      padding-right: 240px;
      padding-top: 310px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 25px;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 75px;
    }

    p {
      display: inline-block;
      color: #fff;
      font-size: 19px;
      font-weight: 600;
      margin-right: 20px;
    }
  }
}
