include ../bg-image/bg-image
include ../icon/icons

mixin job-card()
  +b.job-card&attributes(attributes)
    block

mixin job-card-left
  +job-card&attributes(attributes).js-sidebar
    +e.content
      +bg-image('single-job/logo.jpg').__logo
      +e.H3.title BS Company
      +e.H6.subtitle Quality alloy car wheels
      +e.H6.subtitle._offset Automotive and industrial design
      +e.H6.subtitle._offset.font-weight-medium Job Description
      p BS Company is dedicated to providing quality wheels and lifestyle products for those who value excellence.
    a(href='#').inner-card__button.inner-card__button_centered
      +icon('check-1')
      | Attend

mixin job-card-list
  +e.UL.list&attributes(attributes)
    +e.LI.list-item Strong Portfolio
    +e.LI.list-item 5 - 10 Years experience in car design or similar industry
    +e.LI.list-item Skilled Sketching
    +e.LI.list-item 3D Package knowledges
    +e.LI.list-item Big amount of finished works
    +e.LI.list-item Ready to Relocate
