include ../bg-image/bg-image
include ../icon/icons
include ../list-group/list-group
include ../inner-card/inner-card

mixin job-card()
  +b.job-card&attributes(attributes)
    block

mixin job-card-left
  +plate._no-padding&attributes(attributes).js-sidebar
    +e.content
      +bg-image('single-job/logo.jpg').__job-logo
      h3  BS Company
      h6 Quality alloy car wheels
      h6  Automotive and industrial design
      h6.font-weight-medium Job Description
      p BS Company is dedicated to providing quality wheels and lifestyle products for those who value excellence.
    +inner-card-button('check-1')(href='#').btn-info-darken.btn-block Attend

mixin job-card-list
  +list-group&attributes(attributes)
    +list-group-item Strong Portfolio
    +list-group-item 5 - 10 Years experience in car design or similar industry
    +list-group-item Skilled Sketching
    +list-group-item 3D Package knowledges
    +list-group-item Big amount of finished works
    +list-group-item Ready to Relocate
