.js-progress {
  display: inline-block;
  position: relative;

  &__circle {
    transform: rotate(-90deg);
  }

  &__output {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: -.04em;
  }

  &_big {

    .js-progress__output {
      font-size: 64px;
      top: 50%;
    }
  }
}
