mixin js-progress(value)
  +b.js-progress&attributes(attributes)
    +e.SVG(width='112', height='112', viewBox='0 0 112 112').circle
      circle(cx='56', cy='56', r='52', fill='none', stroke='#e1e9ec', stroke-width='8')
      +e.CIRCLE(cx='56', cy='56', r='52', fill='none', stroke='#ffc425', stroke-width='8', stroke-dashoffset="326.56", stroke-dasharray="326.56").value
    +e.INPUT(type='hidden', value=value).control
    +e.SPAN.output

mixin js-progress-big(value)
  +b.js-progress._big&attributes(attributes)
    +e.SVG(width='165', height='165', viewBox='0 0 165 165').circle
      circle(cx='82.5', cy='82.5', r='77.5', fill='none', stroke='#e1e9ec', stroke-width='10')
      +e.CIRCLE(cx='82.5', cy='82.5', r='77.5', fill='none', stroke='#ffc425', stroke-width='10', stroke-dashoffset="486.7", stroke-dasharray="486.7").value
    +e.INPUT(type='hidden', value=value).control
    +e.SPAN.output
