mixin present-thumb()
  +b.present-thumb&attributes(attributes)
    block

mixin present-thumb-bg()
  +e.bg.bg-image&attributes(attributes)
    block

mixin present-thumb-content()
  .affiliate__text.affi-reffs__card&attributes(attributes)
    block
