.present-thumb {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__bg {
    flex-shrink: 0;
    height: 325px;
    padding-top: 130px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;

    @media (max-width: $screen-xs-max) {
      height: 200px;
      padding-top: 75px;
    }

    h1 {
      position: relative;
      z-index: 1;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;

      @media (max-width: $screen-xl-max) {
        font-size: 53px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 35px;
      }
    }

    p {
      font-family: $font-family-museo-sans;
      position: relative;
      z-index: 1;
      font-size: 27px;
      letter-spacing: .52em;

      @media (max-width: $screen-xs-max) {
        letter-spacing: .2em;
      }
    }
  }

  .affi-reffs__card {
    padding-top: 45px;
    flex-grow: 1;
    color: #111e29;

    h3 {
      max-width: 85%;
      font-weight: 700;

      @media (max-width: $screen-sm-max) {
        max-width: 100%;
      }
    }

    p {
      color: #374851;
    }
  }
}
