.table-finances {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;

  th, td {
    border-top: none !important;
    border-bottom: 1px solid #e1e9ec !important;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -.04em;
    vertical-align: middle !important;

    @media (max-width: $screen-xs-max) {
      font-size: 15px;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }

  table {
    margin-bottom: 0;

    th:first-child, td:first-child {
      padding-left: 45px !important;

      @media (max-width: $screen-xl-max) {
        padding-left: 30px !important;
      }

      @media (max-width: $screen-xl-max) {
        padding-left: 15px !important;
      }
    }

    th:last-child, td:last-child {
      padding-right: 60px !important;

      @media (max-width: $screen-xl-max) {
        padding-right: 30px !important;
      }

      @media (max-width: $screen-xl-max) {
        padding-right: 15px !important;
      }
    }
  }

  thead {

    th {
      text-transform: uppercase;
      font-weight: 300;

      &:nth-child(2) {
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
  }

  tbody {

    td:nth-child(2) {
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &__text-warning {
    color: $brand-warning;
  }

  &__download-link {
    display: inline-flex;
    align-items: center;

    & > svg {
      width: 8px;
      height: 8px;
      fill: $brand-warning;
      margin-right: 15px;

      @media (max-width: $screen-xs-max) {
        margin-right: 0;
        width: 15px;
        height: 15px;
      }
    }

    & > span {
      color: #96a9b3;
      transition: color .25s ease-in-out;
      border-bottom: 1px solid $brand-warning;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    &:hover {

      & > span {
        color: #3b4d62;
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
  }
}
