include ../icon/icons
include ../pagination/pagination

mixin table-finances
  +b.table-finances&attributes(attributes).table-responsive
    table.table
      thead
        tr
          th PRODUCT
          +e.TH.col_date Date & TIME
          +e.TH.col_cost.text-center COST
          +e.TH.col_price.text-right INVOICE
      tbody
        tr
          td 50 contacts Package
          td 28.08.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 50 contacts Package
          td 14.08.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 150 contacts Package
          td 11.08.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 30 contacts Package
          td 31.07.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 25 contacts Package
          td 12.07.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 50 contacts Package
          td 14.08.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 150 contacts Package
          td 11.08.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 30 contacts Package
          td 31.07.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 25 contacts Package
          td 12.07.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 25 contacts Package
          td 12.07.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 50 contacts Package
          td 14.08.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          td 150 contacts Package
          td 11.08.2017
          td.text-center 49.99
            +e.SPAN.text-warning EUR
          td.text-right
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
    +e.pagination
      +pagination
