include ../icon/icons
include ../pagination/pagination

mixin table-finances
  +b.table-finances&attributes(attributes)
    table.table
      thead
        tr
          +e.TH.col_first PRODUCT
          +e.TH.col_date Date & TIME
          +e.TH.col_cost._text_center COST
          +e.TH.col_price._text_right._last INVOICE
      tbody
        tr
          +e.TD.col_first 50 contacts Package
          td 28.08.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 50 contacts Package
          td 14.08.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 150 contacts Package
          td 11.08.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 30 contacts Package
          td 31.07.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 25 contacts Package
          td 12.07.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 50 contacts Package
          td 14.08.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 150 contacts Package
          td 11.08.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 30 contacts Package
          td 31.07.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 25 contacts Package
          td 12.07.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 25 contacts Package
          td 12.07.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 50 contacts Package
          td 14.08.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
        tr
          +e.TD.col_first 150 contacts Package
          td 11.08.2017
          +e.TD.col_text_center 49.99
            +e.SPAN.text-warning EUR
          +e.TD.col_text_right._last
            +e.A(href='#').download-link
              +icon('arrow-down')
              span Download invoice
    +e.pagination
      +pagination
