.affi-example {
  display: block;
  padding-bottom: 35px;
  background-image: linear-gradient(168deg, #923c97, #465d75);
  background-color: #3c4a63;
  color: #fff;

  h3 {
    letter-spacing: 0;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 25px;
    }
  }

  &__hint {
    display: block;
    margin-bottom: 30px;

    h3 {
      display: inline-block;
      margin: 0;
      line-height: 1.83;
      background-color: #000;
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
