mixin affi-example()
  +b.affi-example&attributes(attributes)
    .container
      +e.hint
        h3
          b Example:
      h3 An individual that refers <b>10 people</b> directly would receive <b>4000</b> tokens for the first <b>5 referred</b> people plus another <b>4500</b> for the next set of <b>5 referred people</b> and so on.

      h3
        b This means that 10 referred people would lead to a total of 8500 tokens which is a $85 commission value in US$ equivalent.
    block
