include ../../node_modules/bemto.pug/bemto

doctype html
html(lang='en')
  include head
  body
    block content
    script(src='assets/scripts/libs/bootstrap.min.js')
    script(src='assets/scripts/libs/rangeslider.min.js')
    script(src='assets/scripts/app.min.js')
