include ../../node_modules/bemto.pug/bemto
include ../blocks/page/page
include ../blocks/to-top/to-top
include ../blocks/inner-sidebar/inner-sidebar
include ../components/inner-header/inner-header

doctype html
html(lang='en')
  include head
  body
    +inner-header
    +inner-sidebar
    block top-filter
    block aside-filter
    block content
    +to-top
    include scripts
