include ../../node_modules/bemto.pug/bemto
include ../blocks/page/page
include ../components/header/header
include ../components/footer/footer
include ../components/get-started/get-started

doctype html
html(lang='en')
  include head
  body
    +header()
    +page._profile
      block background
      +page-decoration
      .container
        .row
          .col-xl-23.col-xl-offset-1.col-xs-24
            block profile-header
          +e.sidebar-wrap
            block sidebar-menu
          .col-xl-16.col-xm-19.col-xm-offset-5.col-xs-24
            block content
      +get-started
    +footer
    script(src='assets/scripts/libs/bootstrap.min.js')
    script(src='assets/scripts/libs/rangeslider.min.js')
    script(src='assets/scripts/app.min.js')
