include ../../node_modules/bemto.pug/bemto
include ../blocks/page/page
include ../blocks/to-top/to-top
include ../components/header/header
include ../components/footer/footer
include ../components/get-started/get-started

doctype html
html(lang='en')
  include head
  body
    +header()
    +page._profile
      block background
      .container
        .row
          .col-xxl-20.col-xxl-offset-1.col-xs-24
            block profile-header
          +e.sidebar-wrap.col-xxl-offset-1.col-xxl-4.col-lg-5
            block sidebar-menu
          .col-xxl-16.col-lg-19.col-xs-24
            block content
      +get-started
    +footer
    +to-top
    block modals
    include scripts
