script(src='assets/scripts/libs/bootstrap.min.js')
script(src='assets/scripts/libs/bluebird.min.js')
script(src='assets/scripts/libs/svg4everybody.min.js')
script(src='assets/scripts/libs/ofi.min.js')
script(src='assets/scripts/libs/sticky-kit.min.js')
script(src='assets/scripts/libs/rangeslider.min.js')
script(src='assets/scripts/libs/swiper.jquery.min.js')
script(src='assets/scripts/libs/isotope.pkgd.min.js')
script(src='assets/scripts/libs/scrollreveal.min.js')
script(src='assets/scripts/libs/selectize.min.js')
script(src='assets/scripts/libs/chart.min.js')
script(src='assets/scripts/libs/magnific-popup.min.js')
script(src='assets/scripts/libs/TimeCircles.js')

script(src='assets/scripts/app.min.js')
