.radio, .radio-inline {
  padding-left: 25px;
  color: $gray;
  font-size: 16px;
  letter-spacing: -.04em;
  transition: color .25s ease-in-out;
  font-weight: 300;
  user-select: none;

  label {
    padding-left: 0;
  }

  input {
    display: none;

    &:checked {

      & + .radio-box {

        &::before {
          transform: scale(1);
        }
      }

      & ~ .radio__text {
        color: $text-color;
      }
    }
  }

  &-box {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid $gray;
    transition: background-color .25s ease-in-out;
    border-radius: 50%;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: $gray;
      transform: scale(0);
      transition: transform .25s ease-in-out;
      border-radius: 50%;
    }
  }

  &_warning {

    .radio-box {
      width: 20px;
      height: 20px;

      &::before {
        background-color: $brand-warning;
      }
    }
  }
}
