mixin radio(checked, name)
  +b.radio&attributes(attributes)
    label
      input(type='radio' name=name||'', value='', checked=checked||false)
      block

mixin radio-inline(checked, name)
  +b.radio-inline&attributes(attributes)
    label
      input(type='radio' name=name||'', value='', checked=checked||false)
      block
