.search-form {
  display: block;
  background-color: #fff;

  &__header {
    padding: 30px 30px 30px 55px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $screen-lg-max) {
      padding: 20px 30px 30px;
    }

    @media (max-width: $screen-sm-max) {
      padding-bottom: 20px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 15px;
    }

    .select {
      width: auto;
    }
  }

  h3 {
    font-size: 27px;
    margin-top: 8px;
    font-weight: 300;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
    }

    svg {
      flex-shrink: 0;
      width: 22px;
      height: 28px;
      fill: none;
      stroke: $brand-warning;
      margin-right: 10px;
    }
  }

  &__result {
    margin-left: auto;
    font-size: 23px;
    font-weight: 300;
    margin-right: 15px;

    h5 {
      color: #b1bdc6;
      text-transform: uppercase;
      font-size: 23px;
      display: inline-block;
    }

    @media (max-width: $screen-xs-max) {
      flex-basis: 100%;
      margin-left: 0;
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    .btn:not(:last-child), .select:not(:last-child) {
      margin-right: 15px;
    }

    @media (max-width: $screen-sm-max) {
      flex-wrap: wrap;

      .select, .btn {
        margin-bottom: 10px;
      }
    }
  }

  &__input-wrap {
    @media (max-width: $screen-md-max) {
      flex-wrap: wrap;
    }

    .form-group:first-child input {
      @media (min-width: $screen-lg-min) {
        padding-left: 35px;
      }
    }

    .form-group {
      @media (max-width: $screen-md-max) {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
      }

      @media (max-width: $screen-xs-max) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    input {
      @media (min-width: $screen-lg-min) {
        border-radius: 0;
        height: 57px;
        font-size: 18px;
      }

      @media (max-width: $screen-md-max) {
        flex-basis: 50%;
      }

      @media (max-width: $screen-xs-max) {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-basis: 100%;
        font-size: 15px;
      }
    }
  }

  &__submit {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 45px 18px 35px;
    background-color: #e9f0f4;
    transition: background-color .25s ease-in-out;
    font-weight: 700;
    font-size: 18px;
    color: #1d2431;

    @media (max-width: $screen-md-max) {
      flex-basis: 100%;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      fill: $brand-warning;
      stroke: $brand-warning;
      transition: fill 25s ease-in-out, stroke .25s ease-in-out;
    }

    &:hover {
      background-color: $brand-warning;
      color: #1d2431;

      svg {
        fill: #fff;
        stroke: #fff;
      }
    }
  }

  &__tag-wrap {
    background-color: #d8dfe4;
    padding: 10px 55px 0;

    @media (max-width: $screen-lg-max) {
      padding-left: 30px;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
    }

    .label {
      margin-right: 10px;
      margin-bottom: 13px;
    }

    .label-transparent {
      transition: background-color .25s ease-in-out;

      &:hover {
        background-color: #e9eef2;
      }
    }
  }
}
