include ../../blocks/icon/icons
include ../../blocks/select/select
include ../../blocks/button/button
include ../../blocks/icon-close/icon-close
include ../../blocks/label/label
include ../../blocks/button-icon/button-icon

mixin search-form()
  +b.FORM.search-form&attributes(attributes)
    +e.header
      h3
        +icon('menu-shortlists')
        | GRAPHIC DESIGNERS
      +e.result
        h5 Heroes:
        span 154 /
        span.text-warning 15
      +e.controls
        +select([{value: '1', text: 'Show: All'}, {value: '2', text: 'Show: First'}, {value: '3', text: 'Show: None'}], 'Show: All')._small._warning
        +button.btn-secondary-warning-small.btn-hover-text-warning.font-weight-medium Buy all contacts
          b.btn-font-white 139
        +button-icon('a')(href='#', data-side='#massMsg').btn-secondary-warning.btn-secondary-warning-low.font-weight-medium.js-pick
          +button-icon-item('mass-message')._fill_none._stroke_warning
          +button-icon-text Mass message
    +e.input-wrap
      input(type='text' placeholder='Search GRAPHIC DESIGNER shortlist')
      input(type='text' placeholder='Location filter')
      +e.A(href='#').submit
        +icon('header-search')
        | Find heroes
    +e.tag-wrap
      +label.label-primary-close.label-primary-close-transparent
        a(href='#')
          +icon-close.icon-close_small
        | Graphic designer
      +label.label-primary-close.label-primary-close-transparent
        a(href='#')
          +icon-close.icon-close_small
        | Riga
      +label.label-primary-close.label-primary-close-transparent
        a(href='#')
          +icon-close.icon-close_small
        | Design
      +label.label-primary-close.label-primary-close-dark
        a(href='#')
          +icon-close.icon-close_small
        | Clear all search criteria
