include ../button/button


mixin brand-section()
  +b.brand-section&attributes(attributes)
    .container
      +e.wrap
        .ico-landing__text
          h2 Trademark and coin
        +e.IMG(src='assets/images/ico/coins.png').coins
        +e.IMG(src='assets/images/icon/entry-logo.svg').logo

mixin brand-section-second
  +b.brand-section._secondary&attributes(attributes)
    .container
      +e.wrap
        .ico-landing__text
          h2 Smart contract
        +button.btn-secondary View smart contact on github
        img(src='assets/images/ico/code.jpg')
