.company-menu {
  display: block;
  background-color: #fff;
  border: 1px solid rgb(236, 242, 244);
  box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .06);

  &__nav {
    padding-left: 65px;
    padding-right: 65px;
    margin: 0;
    font-size: 0;
    margin-top: -1px;
    border-bottom: 1px solid #ecf2f4;

    li {
      list-style-type: none;
      display: inline-block;

      &:not(:first-of-type) {
        margin-left: 25px;
      }

      a {
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 100;
        letter-spacing: -.04em;
        display: block;
        font-size: 16px;
        line-height: 3.125;
        color: #36464f;
        transition: color .25s ease-in-out, background-color .25s ease-in-out;

        &:hover {
          color: #fff;
          background-color: #3a4d61;
        }
      }
      /* stylelint-disable */
      &.active {

        a {
          color: #fff;
          background-color: #3a4d61;
        }
      }
      /* stylelint-enable */
    }
  }

  &__content {
    padding: 60px 65px;
    position: relative;

    &_padding-big-bottom {
      padding: 0 0 110px;
    }

    &_padding-none {
      padding: 0;
    }

    &_faded {

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent 0%, #e7ebee 70%);
      }
    }
  }

  &__title {
    display: block;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: -.04em;
    text-transform: uppercase;
    margin-bottom: 30px;

    &_margin {
      margin-top: 85px;
      margin-bottom: 50px;
    }
  }

  &__card {

    &:not(:first-of-type) {
      margin-top: 45px;
    }
  }

  &__image {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 630px;
  }

  &__row {
    display: flex;
  }

  &__col-half {
    flex-basis: 50%;
    padding-left: 65px;
    padding-right: 65px;

    &:first-child {
      border-right: 1px solid #ecf2f4;
    }
  }

  &__col-side {
    flex-basis: 30%;
    flex-shrink: 0;
    border-right: 1px solid #ecf2f4;
    padding-top: 85px;

    .company-menu__title {
      padding-left: 70px;
    }
  }

  &__col-content {
    padding-top: 85px;
    flex-grow: 1;

    &_padded {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  &__branch-map {
    height: 725px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-image: linear-gradient(to bottom, transparent 0%, #fff 70%);
    }
  }

  &__address {
    padding-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 155px;
      height: 1px;
      background-color: #ecf2f4;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;

    &_link {
      border-bottom: 1px solid $brand-warning;
    }

    &_indent {
      margin-bottom: 25px;
    }
  }

  &__contact-form {

    .btn {
      margin-top: 20px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 75px;
    border-bottom: 1px solid #e1e9ec;

    &_padded {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .company-menu__title {
      margin-bottom: 0;
    }
  }

  &__photo {
    height: 215px;
    margin-bottom: 50px;
  }

  &__tabs {

    li.active {

      & > a {
        background-color: #e9eff4;
      }
    }

    a {
      display: block;
      font-weight: 700;
      letter-spacing: -.04em;
      font-size: 18px;
      padding: 15px 20px 15px 70px;
      transition: background-color .25s ease-in-out;

      &:hover {
        background-color: #e9eff4;
      }
    }
  }

  &__social-video {

    &:not(:first-of-type) {
      margin-top: 70px;
    }
  }
}
