.company-menu {
  display: block;
  background-color: #fff;
  border: 1px solid rgb(236, 242, 244);
  box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .06);

  &__map-navs {
    padding-top: 15px;
    padding-bottom: 15px;

    @media (max-width: $screen-sm-max) {
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
    }

    .map-nav {

      &:not(:first-child) {
        @media (min-width: $screen-md-min) {
          margin-top: 60px;
        }
      }
    }
  }

  &__nav {
    padding-left: 65px;
    padding-right: 65px;
    margin: 0;
    font-size: 0;
    margin-top: -1px;
    margin-left: -1px;
    border-bottom: 1px solid #ecf2f4;

    @media (max-width: $screen-sm-max) {
      padding-left: 30px;
      padding-right: 30px;
      border: none;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 20px;
      padding-right: 20px;
      margin-left: -13.5px;
      margin-right: -13.5px;
    }

    li {
      list-style-type: none;
      display: inline-block;

      &:not(:first-of-type) {
        @media (min-width: $screen-sm-min) {
          margin-left: 25px;
        }
      }

      a {
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 100;
        letter-spacing: -.04em;
        display: block;
        font-size: 16px;
        line-height: 3.125;
        color: #36464f;
        transition: color .25s ease-in-out, background-color .25s ease-in-out;

        @media (max-width: $screen-xs-max) {
          line-height: 2.5;
        }

        &:hover {
          color: #fff;
          background-color: #3a4d61;
        }
      }
      /* stylelint-disable */
      &.active {

        a {
          color: #fff;
          background-color: #3a4d61;
        }
      }
      /* stylelint-enable */
    }
  }

  &__content {
    padding: 60px 65px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      padding: 30px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 15px;
    }

    &_padding-big-bottom {
      padding: 0 0 110px;

      @media (max-width: $screen-sm-max) {
        padding-bottom: 55px;
      }
    }

    &_padding-none {
      padding: 0;
    }

    &_faded {

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent 0%, #e7ebee 70%);
      }
    }

    & > img {
      margin-top: 35px;
      margin-bottom: 35px;
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }

  &__title {
    display: block;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: -.04em;
    text-transform: uppercase;
    margin-bottom: 30px;

    &_margin {
      margin-top: 85px;
      margin-bottom: 50px;

      @media (max-width: $screen-sm-max) {
        margin-top: 40px;
        margin-bottom: 25px;
      }
    }

    @media (max-width: $screen-xs-max) {
      font-size: 30px;
    }
  }

  &__card {

    &:not(:first-of-type) {
      margin-top: 45px;
    }
  }

  &__row {
    display: flex;

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
    }
  }

  &__col-half {
    flex-basis: 50%;
    padding-left: 65px;
    padding-right: 65px;

    &:first-child {
      @media (min-width: $screen-md-min) {
        border-right: 1px solid #ecf2f4;
      }
    }

    @media (max-width: $screen-sm-max) {
      flex-basis: auto;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__col-side {
    flex-basis: 30%;
    flex-shrink: 0;
    border-right: 1px solid #ecf2f4;
    padding-top: 85px;

    .company-menu__title {
      padding-left: 70px;

      @media (max-width: $screen-sm-max) {
        padding-left: 30px;
      }
    }

    @media (max-width: $screen-sm-max) {
      padding-top: 30px;
      flex-basis: auto;
    }
  }

  &__col-content {
    padding-top: 85px;
    flex-grow: 1;

    &_padded {
      padding-left: 70px;
      padding-right: 70px;
    }

    &_faded {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .6) 0%, #fff 45%);

        @media (max-width: $screen-md-max) {
          height: 20%;
        }

        @media (max-width: $screen-xs-max) {
          height: 13%;
        }
      }
    }

    @media (max-width: $screen-sm-max) {
      padding: 30px;
    }

    &_padding_none {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  &__branch-map {
    height: 725px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-image: linear-gradient(to bottom, transparent 0%, #fff 70%);
    }
  }

  &__address {
    padding-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 155px;
      height: 1px;
      background-color: #ecf2f4;
    }

    @media (max-width: $screen-sm-max) {
      padding-bottom: 15px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;

    &_link {
      border-bottom: 1px solid $brand-warning;
    }

    &_indent {
      margin-bottom: 25px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }

  &__contact-form {

    .btn {
      margin-top: 20px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 75px;
    border-bottom: 1px solid #e1e9ec;

    &_padded {
      padding-top: 50px;
      padding-bottom: 50px;

      @media (max-width: $screen-sm-max) {
        padding-top: 25px;
        padding-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .company-menu__title {
      margin-bottom: 0;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: $screen-xs-max) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__photo {
    height: 215px;
    margin-bottom: 50px;

    @media (max-width: $screen-xs-max) {
      height: 180px;
    }
  }

  &__tabs {

    li.active {
// stylelint-disable
      & > a {
        background-color: #e9eff4;
      }
    }
// stylelint-enable

    a {
      display: block;
      font-weight: 700;
      letter-spacing: -.04em;
      font-size: 18px;
      padding: 15px 20px 15px 70px;
      transition: background-color .25s ease-in-out;

      &:hover {
        background-color: #e9eff4;
      }

      @media (max-width: $screen-sm-max) {
        padding-left: 30px;
      }
    }
  }

  &__social-video {

    &:not(:first-of-type) {
      margin-top: 70px;
    }
  }

  &__circle-info {
    @media (max-width: $screen-xs-max) {
      margin-top: 20px;
    }
  }
}
