.notification-options {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;

  @media (max-width: $screen-md-max) {
    flex-direction: column;
  }

  .checkbox-inline {
    flex-basis: 40%;
    margin-bottom: 25px !important;
    margin-left: 0;
  }
}
