include ../icon/icons

mixin service(icon, title)
  +b.service&attributes(attributes)
    +e.heading
      +icon(icon).icon
      h4.font-weight-medium= title
      +icon('close').icon._close
    +e.P.description
      block

mixin service-static(icon, title)
  +b.service&attributes(attributes)
    +e.heading
      +icon(icon).icon
      h4.font-weight-medium= title
    +e.P.description
      block
