.service {
  display: block;
  cursor: pointer;
  flex-shrink: 0;

  @media (min-width: $screen-md-min) {
    text-align: center;
  }

  &_edit {

    &:hover {

      .service__close {
        opacity: 1;
      }
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    display: block;
    margin-left: 13px;
    margin-right: 13px;
    fill: transparent;
    stroke: #c3424f;

    @media (max-width: $screen-md-min) {
      margin-left: 0;
    }
  }

  &__close {
    opacity: 0;
    margin-left: 13px;

    @media (max-width: $screen-md-min) {
      opacity: 1;
      margin-left: auto;
    }
  }

  &__description {
    font-family: $font-family-museo-sans;
    font-weight: 300;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: -.04em;
  }
}
