include ../icon/icons
include ../icon-close/icon-close

mixin service(icon, title)
  +b.service._edit&attributes(attributes)
    +e.heading
      +icon(icon).icon
      h4.font-weight-medium= title
      +e.A(href='#').close
        +icon-close
    +e.P.description
      block

mixin service-static(icon, title)
  +b.service&attributes(attributes)
    +e.heading
      +icon(icon).icon
      h4.font-weight-medium=title
    +e.P.description
      block
