include ../../blocks/icon/icons

mixin news-item(img)
  +b.A(href='#').news-item&attributes(attributes).bg-image
    img(src='assets/images/'+img)
    +e.text-container
      h3
        block
      time 27 / 12 / 2016

mixin news-item-big(img)
  +b.A(href='#').news-item._big&attributes(attributes).bg-image
    img(src='assets/images/'+img)
    +e.text-container
      block
      .describe__more
        +icon('arrow-down-rounded')
      time 27 / 12 / 2016
