.news-item {
  display: flex;
  height: 445px;

  &:hover {

    & > img {
      transform: scale(1.07);
    }
  }

  & > img {
    z-index: -1;
    transition: transform 1.8s ease;
  }

  &__text-container {
    background-color: rgba(0, 0, 0, .6);
    padding: 30px 30px 15px;
    margin-top: auto;
    width: 100%;
    min-height: 42.6%;
  }

  h3 {
    margin-top: 0;
    font-size: 27px;
    color: #fff;
    margin-bottom: 30px;
  }

  &__time {
    font-size: 12px;
    color: $brand-warning;
    letter-spacing: -.04em;
    font-weight: 100;
  }
}
