mixin level()
  +b.level&attributes(attributes)
    block

mixin level-title(step)
  +e.title&attributes(attributes)
    span
      block
    if step
      p step
    else
      p level

mixin level-heading()
  +e.heading&attributes(attributes)
    h3
      block

mixin level-content()
  +e.content&attributes(attributes)
    block
