mixin media(img, heading)
  +b.media.media-vertical&attributes(attributes)
    .media-left
      img(src='assets/images/'+img).img-circle.media-object
    .media-body
      h5.media-heading.font-weight-medium= heading
      block


mixin media-secondary(img, heading)
  +b.media-secondary&attributes(attributes)
    .media-left
      img(src='assets/images/'+img).img-circle.media-object
    .media-body
      h4.media-heading= heading
      block
