mixin scheme-section()
  +b.scheme-section.bg-image&attributes(attributes)
    img(src='assets/images/ico/scheme_bg.jpg')
    .container
      .ico-landing__text
        h2 Distribution of tokens
      img(src='assets/images/ico/scheme.png')
