.form-control {

  &-border-bottom {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid $color-border;
    box-shadow: none;
    padding: 0;

    &:focus {
      box-shadow: none;
      border-color: $color-lightgreen;
    }
  }

  &-border-big {
    border-width: 2px;
  }

  &-secondary {
    background-color: transparent;
    border-color: #8898a3;
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;

    @media (max-width: $screen-xs-max) {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 14px;
    }

    &:hover {
      border-color: #fff;

      &::placeholder {
        color: $color-grey;
      }
    }

    &:focus {

      &::placeholder {
        color: $color-grey;
      }
    }
  }
}
