.form-control {
  transition: all .25s ease-in-out;
  font-size: 16px;
  padding: 10px 16px 7px;

  &::placeholder {
    transition: color .25s ease-in-out;
  }

  &:hover {
    border-color: #39464f;

    &::placeholder {
      color: #39464f;
    }
  }

  &:focus, {
    box-shadow: none;

    .has-success &, .has-error & {
      box-shadow: none;
    }
  }

  &-warning {

    &:focus {
      border-color: $brand-warning;
    }
  }

  &-area-static {
    resize: none;
    overflow-y: hidden;
  }

  &-big {
    height: 65px;
  }

  &-small {
    height: 32px;
    font-size: 22px;
  }

  &-smaller {
    height: 30px;
    font-size: 20px;
  }

  &-border-bottom {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 1px solid #c9d0d6;
    box-shadow: none;
    padding: 0;

    &:focus {
      box-shadow: none;
      border-color: $brand-success;
    }
  }

  &-border-big {
    border-width: 2px;
  }

  &-secondary {
    height: 50px;
    background-color: transparent;
    border-color: #8898a3;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;

    @media (max-width: $screen-xs-max) {
      height: 38px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 14px;
    }

    &:hover {
      border-color: #fff;

      &::placeholder {
        color: $gray;
      }
    }

    &:focus {

      &::placeholder {
        color: $gray;
      }
    }
  }
}
