extends ../../layouts/default
include ../../components/affi-header/affi-header
include ../../components/affi-scheme/affi-scheme
include ../../components/affi-reffs/affi-reffs
include ../../components/affi-example/affi-example
include ../../components/affi-footer/affi-footer

block head
  - var pageTitle = 'Affiliate - I Am Hero'

block content
  +affi-header
  +b.MAIN.affiliate
    +affi-scheme
    +affi-reffs
    +affi-example
  +affi-footer
