extends ../../layouts/default
include ../../components/affi-header/affi-header
include ../../components/affi-scheme/affi-scheme
include ../../components/affi-reffs/affi-reffs
include ../../components/affi-example/affi-example
include ../../components/affi-footer/affi-footer

block head
  - var pageTitle = 'Affiliate - I Am Hero'

block content
  +affi-header('affi/bg_intro.jpg')
    h1 Grow your income with the iamhero Affiliate Program
    h3 Es ist ganz einfach an die IAMHERO Coins zu kommen
    h3 Es ist ganz einfach an die IAMHERO Coins zu kommen.Es ist ganz einfach an die IAMHERO Coins zu kommen.Es ist ganz einfach an die IAMHERO Coins zu kommen.
  +b.MAIN.affiliate
    +affi-scheme
    +affi-reffs
    +affi-example
  +affi-footer
