mixin thumbnail-interests(img, title)
  .thumbnail
    img(src='assets/images/'+img)
    .caption
      h4.font-weight-medium= title
      p Website, logo and company identity graphical design. Print, pre-print, digital design
