.describe {
  display: block;
  padding: 50px 60px 60px;
  position: relative;
  overflow: hidden;

  &_faded {

    p {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 60px;
        background-image: linear-gradient(to bottom, rgba(#000a23, .2) 0%, #000a23 100%);
      }
    }
  }

  &_text-white {
    color: #fff;

    p {
      color: #f3f3f3;
    }
  }

  &_bottom-smaller {
    padding-bottom: 25px;
  }

  &_bordered {
    border: 1px solid #e1e9ec;
    box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .24);
  }

  &__text-container {
    width: 42%;

    p {
      font-size: 16px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 50px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

  &__bg {
    @include fill-img();

    z-index: -1;
  }

  &__more {
    display: inline-block;
    margin-top: 35px;

    svg {
      width: 35px;
      height: 35px;
      fill: $brand-warning;
      transform: rotate(-90deg);
    }
  }

  &__apps {
    margin-top: 35px;

    a {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
}
