.slider {
  margin-left: -25px;
  margin-right: -25px;
  padding: 0 25px;

  &__control {
    position: absolute;
    fill: none;
    stroke: rgba(#3a4c61, .6);
    left: 0;
    top: 50%;
    cursor: pointer;
    z-index: 2;
    width: 10px;
    height: 28px;
    transition: opacity .26s ease-in-out;

    @media (max-width: $screen-sm-max) {
      left: 9px;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &_prev {
      transform: rotate(180deg);
    }

    &_next {
      left: auto !important;
      right: 0;

      @media (max-width: $screen-sm-max) {
        right: 9px;
      }
    }
  }
}
