include ../icon/icons

mixin slider()
  +b.slider&attributes(attributes).swiper-container
    +slider-nav
    .swiper-wrapper
      block

mixin slider-nav
  +icon('slider-control').__control._prev
  +icon('slider-control').__control._next

mixin slider-item
  .swiper-slide&attributes(attributes)
    block
