include ../icon/icons

mixin slider()
  +b.slider&attributes(attributes).swiper-container
    block nav
    .swiper-wrapper
      block

mixin slider-nav
  +icon('slider-control').__control
  +icon('slider-control').__control._next

mixin slider-item
  .swiper-slide
    block
