extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/table-finances/table-finances
include ../../blocks/settings-header/settings-header
include ../../blocks/button/button
include ../../components/aside-filter/aside-filter

block head
  - var pageTitle = 'I Am Hero - Finances'

block aside-filter
  +aside-filter._top-none
    +aside-filter-item._no-side
      +aside-filter-heading('menu-settings') Settings
      +e.menu
        a(href='#') Heroes to suggest
        a(href='#') Account settings
        a(href='#').active Finances
        a(href='#') Notification options
        span(data-toggle="tooltip", data-placement="bottom", title="This link is under construction").disabled Invite Friends
      +button.btn-secondary-warning.btn-secondary-warning-medium.font-weight-medium.aside-filter__btn-edit Edit company page

block content
  +page._inner-medium
    +settings-header
      +settings-header-text-wrap
        +settings-header-title-wrap
          +settings-header-icon('gears')
          h3 finances
        span Your account main Settings
      +settings-header-button Buy Contact Packages
    +table-finances.__section
