mixin affi-scheme()
  +b.affi-scheme.bg-image&attributes(attributes)
    img(src='assets/images/affi/scheme_bg.jpg')
    .container
      .row
        .col-md-12
          img(src='assets/images/affi/how-to.png')
        .col-md-12.affiliate__text
          h1 Here is how Iamhero affiliate scheme works
          p Furthermore, we have set up a very simple and very attractive “Invite Friends Program” for everybody. When you register a free account at iamhero.io you will find it in the “Invite Friends” function in your dashboard. We track the referrals on 3 levels and give you IAHC tokens.
          p Everybody that registers on our site through your referral will receive <b>500 tokens</b> which are being issued at <b>$5 value equivalent</b>.
