.affi-intro {
  display: block;
  padding-top: 50px;
  padding-bottom: 170px;
  color: #fff;

  @media (max-width: $screen-md-max) {
    padding-bottom: 100px;
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 50px;
  }

  &__logo {
    width: 116px;
    height: 78px;
    display: block;
    margin-bottom: 55px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }

    svg {
      fill: #fff;
      width: 116px;
      height: 78px;
    }
  }

  .affiliate__text {
    max-width: 68%;
    margin-bottom: 100px;

    @media (max-width: $screen-xl-max) {
      max-width: 82%;
    }

    @media (max-width: $screen-md-max) {
      max-width: 100%;
      margin-bottom: 50px;
    }

    h3 {
      font-size: 33px;

      @media (max-width: $screen-xs-max) {
        font-size: 25px;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &__controls {
    display: flex;
    align-items: flex-start;

    .countdown-screen__links {
      margin-top: 2px;
      margin-left: 80px;
      flex-basis: 35%;
    }

    .btn {
      @media (min-width: $screen-sm-min) {
        padding-left: 90px;
        padding-right: 90px;
      }
    }

    @media (max-width: $screen-md-max) {
      flex-direction: column;

      .countdown-screen__links {
        margin-left: 0;
        margin-top: 50px;
        flex-basis: auto;
        width: 100%;
      }
    }
  }
}
