include ../../blocks/logo/logo
include ../../blocks/icon/icons
include ../../blocks/button/button

mixin affi-intro()
  +b.affi-intro.bg-image&attributes(attributes)
    img(src='assets/images/affi/bg_intro.jpg')
    .container
      +e.A(href='#').logo
        +icon('logo')
      .affiliate__text
        h1 Grow your income with the iamhero Affiliate Program
        h2 Es ist ganz einfach an die IAMHERO Coins zu kommen
        h3 Es ist ganz einfach an die IAMHERO Coins zu kommen.Es ist ganz einfach an die IAMHERO Coins zu kommen.Es ist ganz einfach an die IAMHERO Coins zu kommen.
      +e.controls
        +button.btn-secondary.btn-secondary-lg.btn-danger Join now
        .countdown-screen__links
          a(href='#', target='_blank')
            +icon('wt-social-bitcoin')
          a(href='#', target='_blank')
            +icon('wt-social-github')
          a(href='#', target='_blank')
            +icon('wt-social-medium')
          a(href='#', target='_blank')
            +icon('wt-social-reddit')
          a(href='#', target='_blank')
            +icon('wt-social-rocketchat')
          a(href='#', target='_blank')
            +icon('wt-social-telegram')
          a(href='#', target='_blank')
            +icon('wt-social-twitter')
