include ../../blocks/bg-image/bg-image

mixin affi-intro()
  +b.affi-intro&attributes(attributes).page-section._medium
    .container
      .row.flex-wrap
        .col-xs-24
          .affiliate__text
            h1 We have created the Affiliate program with <br>YOU in mind... !
        .col-lg-12.col-xs-24
          +e.img.bg-image
            img(src='assets/images/affi-2/heroes.jpg')
        .col-lg-12.col-xs-24
          +e.text
            p
              b We know from our own experience that true success begins with what we can do for those who help us, so we have done The Maximum possible to help you help us!
            p Here, we are giving you the opportunity to become one of our highly valued, highly paid and highly appreciated team players...  A place where we can establish a long lasting relationship of trust and mutual cooperation, one in which we both win by expanding our horizons as we multiply our rewards and increase our benefits.... a place you can actually call home!
            p At IAMHERO, We are proud of our achievements and we look forward to our success with fervent anticipation. We fully understand that greatness comes with Action! Two main elements which the greatest success stories all have in common are; (1) Dedicated Perseverance in what we are doing, and (2) A Passion to do more with each and every opportunity that arises. In light of this, we have sought to automate these characteristics as much as we could to make affiliate marketing as painless as possible. We are constantly developing tools to help affiliates promote our services and earn more for every minute they put into this endeavor.
            p Now YOU can become part of our fast growing IAMHERO Family as a great Team Player and promote this wonderful service to your friends, your colleagues, your family or anyone out there who can benefit from this outstanding and long overdue Service.
