.services-section {
  display: block;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 75px;

  &__text {
    text-align: center;

    p {
      margin-top: 20px !important;
    }
  }

  &__items {
    margin-top: 75px;

    .col-lg-4 {
      @media (min-width: $screen-lg-min) {
        width: 20%;
      }

      @media (max-width: $screen-lg-max) {

        .service, .service__heading {
          text-align: left;
          justify-content: flex-start;
        }
      }
    }
  }
}
