.rangeslider {
  display: block;
  height: 8px;
  border: 1px solid #c1c8cf;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  touch-action: pan-y;

  &:hover, &:active {

    & > .rangeslider__fill::after {
      opacity: 1;
    }
  }

  &_static {

    & + .rangeslider {
      pointer-events: none;

      & > .rangeslider__fill::after {
        display: none;
      }
    }
  }

  &_color {

    &_lightgreen {

      & + .rangeslider > .rangeslider__fill {
        background-color: $brand-success;
      }
    }

    &_orange {

      & + .rangeslider > .rangeslider__fill {
        background-color: $orange;
      }
    }

    &_blue {

      & + .rangeslider > .rangeslider__fill {
        background-color: $blue;
      }
    }

    &_red {

      & + .rangeslider > .rangeslider__fill {
        background-color: $red;
      }
    }
  }

  &__fill {
    position: absolute;
    height: 8px;
    top: -1px;
    background-color: $gray;
    border-radius: 4px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      width: 24px;
      right: -11px;
      top: 8px;
      height: 36px;
      background-image: url('../images/icon/slider-handler.svg');
      transition: opacity .25s ease-in-out;
      opacity: 0;
      z-index: 1;

      @media (max-width: $screen-sm-max) {
        opacity: 1;
      }
    }
  }

  &__handle {
    position: absolute;
  }

  &_gradient {

    & + .rangeslider {
      border-color: $brand-warning;
      background-color: $brand-warning;

      .rangeslider__fill {
        background-image: linear-gradient(to left, #1b202d 0%, #465d75 55%, #59bba0 100%);

        &::after {
          content: none;
        }
      }

      .rangeslider__handle {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $brand-warning;
        top: -8px;
        box-shadow: 1px 3px 1px 2px #c8cbd1;
      }
    }
  }

  &_warning {

    & + .rangeslider {
      border-color: transparent;
      background-color: #e1e9ec;
      height: 7px;

      .rangeslider__fill {
        background-color: $brand-warning;
        height: 9px;
        top: -2px;
        border-radius: 3.5px;

        &::after {
          content: none;
        }
      }
    }
  }
}
