mixin rangeslider
  input(type='range', min='0', max='100', step='1', value='50')&attributes(attributes)

mixin rangeslider-custom(min, max, step, value)
  input(type='range', min=min, max=max, step=step, value=value||'')&attributes(attributes)
