mixin affi-value()
  +b.affi-value&attributes(attributes).affiliate__text_second.page-section_dark
    .container
      .row
        .col-md-10
          h1 Increases in IAHC Coin Value:
          p
            b FREELANCER CONTRACTS / CONTRACTUAL WORKERS
          p Freelancing contracts and/or contractual worker contracts pay out <b>5%</b> of the contract’s value to IAH. <br>This <b>5%</b> return is split in half <b>50/50</b>;<br><b>2.5%</b> is reinjected into the IAHC COIN pool <b>2.5%</b> goes to IAMHERO Inc.
          p
            b This has the effect of increasing the IAHC Coin value over the entire holdings. As a result, everyone benefits.
        .col-md-offset-2.col-md-12
          img(src='assets/images/affi-2/coin.png')
          p
            b The Affiliate Program
          p As previously mentioned above, 30% of the Affiliate program’s revenue is reinjected into the IAHC Coin Pool to the benefit of all IAHC Coin holders
