.effectiveness {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__text {
    flex-basis: 60%;

    p:first-child {
      margin-bottom: 40px;
    }

    p:nth-child(2) {
      margin-bottom: 20px;
    }
  }
}
