include ../../blocks/circle/circle

mixin effectiveness()
  +b.effectiveness&attributes(attributes)
    +e.text
      p
        b That means that 75% of your page visitors stay on it longer than 25 seconds. Heroes are interested in you. Keep it up
      p
        b Why is this important?
      p This parameter shows you the way Heroes look at your company, are they interested in your vacancies, do they spend time on your page discovering information about you.
    +circle-lazy('0.75', '175')
