.invite-friends {
  display: block;

  &__card {

    &:not(:first-child) {
      @media (max-width: $screen-md-max) {
        margin-top: 40px;
      }

      @media (max-width: $screen-xs-max) {
        margin-top: 35px;
      }
    }
  }
}
