extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/settings-header/settings-header
include ../../blocks/button/button
include ../../blocks/social-card/social-card
include ../../blocks/inner-plate/inner-plate
include ../../blocks/input/input
include ../../blocks/button/button
include ../../components/aside-filter/aside-filter

block head
  - var pageTitle = 'I Am Hero - Invite friends'

block aside-filter
  +aside-filter._top-none
    +aside-filter-item._no-side
      +aside-filter-heading('menu-settings') Settings
      +e.menu
        a(href='#') Heroes to suggest
        a(href='#') Account settings
        a(href='#') Finances
        a(href='#') Notification options
        a(href='#').active Invite Friends
      +button.btn-secondary-warning.btn-secondary-warning-medium.font-weight-medium.aside-filter__btn-edit Edit company page

block content
  +page._inner-medium
    +settings-header
      +settings-header-icon('user-star')
      +settings-header-text INVITE FRIENDS
      +settings-header-info-text You can choose what to be notified about
      +settings-header-button Open notifications
    +e.section.row
      .col-sm-8
        +social-card('google-contacts')
      .col-sm-8
        +social-card('facebook')
      .col-sm-8
        +social-card('linkedin')
    +inner-plate.__section
      +e.H4.heading Direct invitation
      +e.P.subheading Write down your frind E-mail adress and send invitation to join iamhero.io. You can also add multiple E-mail adresses separating them with coma “,”
      +e.FORM.form._margin_more
        +input('Your friend E-mail adress').form-control-warning
        +button.btn-secondary-warning Send invitation
