include ../bg-image/bg-image
include ../label/label
include ../icon/icons
include ../button/button
include ../button-icon/button-icon
include ../label/label
include ../icon-close/icon-close
include ../checkbox/checkbox
include ../../components/card-popover/card-popover

mixin inner-card(tag)
  +b(tag||'div').inner-card&attributes(attributes)
    block

mixin inner-card-wrap
  +e.wrap&attributes(attributes)
    block

mixin inner-card-full-image()
  +bg-image('company-profile/full.jpg').__full-image&attributes(attributes)

mixin inner-card-image(img)
  +bg-image('company-profile/'+img).__image&attributes(attributes)

mixin inner-card-hero-image(img)
  +bg-image('hero-search/'+img).__image&attributes(attributes)

mixin inner-card-text-content
  +e.text-content&attributes(attributes)
    block

mixin inner-card-text-wrap
  +e.text-wrap&attributes(attributes)
    block

mixin inner-card-title
  h3&attributes(attributes)
    block

mixin inner-card-tags
  +e.tags&attributes(attributes)
    block

mixin inner-card-subtitle
  +e.SPAN.subtitle&attributes(attributes)
    block

mixin inner-card-text
  +e.text&attributes(attributes)
    block

mixin inner-card-footer
  +e.footer&attributes(attributes)
    +e.BUTTON.toggle-btn.js-card-more
      +icon('plus-border')
      | Show more
    +e.BUTTON.toggle-btn.js-card-less
      +icon('minus-border')
      | Show less
    +e.footer-buttons
      block

mixin inner-card-footer-suggested
  .inner-card__footer&attributes(attributes)
    .inner-card__footer-buttons
      +inner-card-button('close')(href='#').btn-info-lighten Remove job from suggestions
      +inner-card-button('check-1')(href='#') Attend this job
      +inner-card-button('dots')(href='#', data-side="#vacancy").btn-info-darken.js-vacancy Read more

mixin inner-card-button(icon, tag)
  +button-icon(tag).btn-info&attributes(attributes)
    +button-icon-item(icon)
    +button-icon-text
      block

mixin company(img, title, branch)
  +inner-card&attributes(attributes)
    +inner-card-full-image
    +inner-card-wrap
      +inner-card-image(img)
      +inner-card-text-wrap
        +inner-card-tags
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle= branch
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text
            p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999. Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
    +inner-card-footer
      +inner-card-button('dots', 'a')(href='#') Open company profile

mixin company-to-attend(img, title, branch)
  +inner-card&attributes(attributes)
    +inner-card-full-image
    +inner-card-wrap
      +inner-card-image(img)
      +inner-card-text-wrap
        +inner-card-tags
          time 26.06.2017
          +label.label-primary
            b Attented
          +label.label-danger NEW
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle= branch
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text
            p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999. Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
    +inner-card-footer
      +inner-card-button('check-1')(href='#').btn-info-darken Attend
      +inner-card-button('dots', 'a')(href='#') Open vacancy

mixin vacancy(img, title)
  +inner-card('a')._border._shadow(href='#')&attributes(attributes)
    +inner-card-wrap
      +inner-card-image(img)
      +inner-card-text-wrap
        +inner-card-tags
          time 26.06.2017
          +label.label-danger NEW
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle Designer
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text
            p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.

mixin award(img, title, year, tag)
  +inner-card('a')(href='#')._border._shadow._free&attributes(attributes)
    +inner-card-wrap
      +inner-card-image(img)._big
      +inner-card-text-wrap
        +inner-card-tags
          +label.label-danger NEW
        +inner-card-text-content._small
          +inner-card-title= title
          +inner-card-subtitle._thin= year
          +inner-card-text
            p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.

mixin hero(img, title, branch)
  +inner-card._hero&attributes(attributes)
    +inner-card-wrap
      +inner-card-hero-image(img)
      +inner-card-text-wrap
        +inner-card-tags
          +label.label-primary
            b Shortlisted in:
            | #{" "}Graphic Designers
          +label.label-info
            b Bought
          +label.label-danger NEW
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle= branch
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text
            p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
            h3 professional skills
            +label.label-rounded.label-medium Graphic design
            +label.label-rounded.label-medium Video design
            +label.label-rounded.label-medium Websites
            +label.label-rounded.label-medium Illustrations
            +label.label-rounded.label-medium Full cycle design

    +inner-card-footer
      +inner-card-button('plus')(href='#') Add to shortlist
      +e.popover-wrap
        +inner-card-button('check-1')(href='#').btn-info-darken.js-card-buy Buy contacts
        +card-popover-buy.__card-popover.js-card-buy-target
        +card-popover-contact.__card-popover
      +inner-card-button('dots', 'a')(href='#') Open profile

mixin hero-to-shortlist(img, title, buy)
  +inner-card&attributes(attributes)
    +inner-card-wrap
      +inner-card-hero-image(img)
      +inner-card-text-wrap
        +e.controls
          if buy
            +button.btn-secondary-warning-small Buy contact
            a(href='#').inner-card__pick-hide
              +icon-close
          else
            +button-icon.btn-secondary-warning.btn-secondary-warning-low.__pick-hide
              +button-icon-item('message')
              +button-icon-text Start conversation
            a(href='#').inner-card__pick-hide
              +icon-close
            +checkbox(true).__pick-show
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle Tv star
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text
            p Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
