include ../bg-image/bg-image
include ../label/label
include ../icon/icons
include ../button/button
include ../button-icon/button-icon
include ../../components/card-popover/card-popover

mixin inner-card(tag)
  +b(tag||'div').inner-card&attributes(attributes)
    block

mixin inner-card-wrap
  +e.wrap&attributes(attributes)
    block

mixin inner-card-full-image()
  +bg-image('company-profile/full.jpg').__full-image&attributes(attributes)

mixin inner-card-image(img)
  +bg-image('company-profile/'+img).__image&attributes(attributes)

mixin inner-card-hero-image(img)
  +bg-image('hero-search/'+img).__image&attributes(attributes)

mixin inner-card-text-content
  +e.text-content&attributes(attributes)
    block

mixin inner-card-text-wrap
  +e.text-wrap&attributes(attributes)
    block

mixin inner-card-title
  +e.H3.title&attributes(attributes)
    block

mixin inner-card-tags
  +e.tags&attributes(attributes)
    block

mixin inner-card-subtitle
  +e.SPAN.subtitle&attributes(attributes)
    block

mixin inner-card-text
  +e.P.text&attributes(attributes)
    block

mixin inner-card-footer
  +e.footer&attributes(attributes)
    +e.BUTTON.toggle-btn.js-card-more
      +icon('plus-border')
      | Show more
    +e.BUTTON.toggle-btn.js-card-less
      +icon('minus-border')
      | Show less
    block

mixin inner-card-button(icon, tag)
  +e(tag||'button').button&attributes(attributes)
    +icon(icon)
    block

mixin inner-card-expand-content
  +e.expand-content&attributes(attributes)
    h3 professional skills
    +label.label-default.label-rounded.label-medium Graphic design
    +label.label-default.label-rounded.label-medium Video design
    +label.label-default.label-rounded.label-medium Websites
    +label.label-default.label-rounded.label-medium Illustrations
    +label.label-default.label-rounded.label-medium Full cycle design


mixin company(img, title, branch)
  +inner-card&attributes(attributes)
    +inner-card-full-image
    +inner-card-wrap
      +inner-card-image(img)
      +inner-card-text-wrap
        +inner-card-tags
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle= branch
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
    +inner-card-footer
      +inner-card-button('dots', 'a')(href='#')._push_right Open company profile

mixin vacancy(img, title)
  +inner-card('a')._border._shadow(href='#')&attributes(attributes)
    +inner-card-wrap
      +inner-card-image(img)
      +inner-card-text-wrap
        +inner-card-tags
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle Designer
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.

mixin award(img, title, year, tag)
  +inner-card('a')(href='#')._border._shadow&attributes(attributes)
    +inner-card-wrap
      +inner-card-image(img)._big
      +inner-card-text-wrap
        +inner-card-tags
        +inner-card-text-content._small
          +inner-card-title= title
          +inner-card-subtitle._thin= year
          +inner-card-text Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.

mixin hero(img, title, branch)
  +inner-card._hero&attributes(attributes)
    +inner-card-wrap
      +inner-card-hero-image(img)
      +inner-card-text-wrap
        +inner-card-tags
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle= branch
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
          +inner-card-expand-content

    +inner-card-footer
      +inner-card-button('plus')(href='#')._push_right Add to shortlist
      +e.popover-wrap
        +inner-card-button('check-1')(href='#')._darken.js-card-buy-contact Buy contacts
        +card-popover-buy.__card-popover
      +inner-card-button('dots', 'a')(href='#') Open profile

mixin hero-to-shortlist
  +inner-card(img, title, buy)._hero&attributes(attributes)
    +inner-card-wrap
      +inner-card-hero-image(img)
      +inner-card-text-wrap
        +e.controls
          if buy
            +button.btn-secondary-warning-small Buy contact
          else
            +button-icon.btn-secondary-warning
              +button-icon-item('message')
              +button-icon-text Start conversation
        +inner-card-text-content
          +inner-card-title= title
          +inner-card-subtitle Tv star
          +inner-card-subtitle._thin._inline Los Angeles, USA
          +inner-card-text Martel was born in Montreal, Canada. His parents instilled a love for music in him that followed him throughout his childhood and to Briercrest College and Seminary in Saskatchewan, where he formed the band Downhere with his roommate Jason Germain and a few close friends in 1999.
          +inner-card-expand-content
