.inner-card {
  min-height: 160px;
  position: relative;
  transition: box-shadow .25s ease-in-out, margin-bottom .25s ease-in-out;
  display: block;

  &_hero {

    &.inner-card_expanded {
      margin-bottom: 50px;

      .inner-card__wrap {
        padding: 55px;
        min-height: 250px;
        box-sizing: content-box;
      }

      .inner-card__image {
        flex-basis: 250px;
      }

      .inner-card__text-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
      }
    }
  }

  .js-card-less {
    display: none;
  }

  &_border {
    border: 1px solid #e7ebee;
  }

  &_shadow {
    box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .06);
  }

  &_expandable {

    .inner-card__text-wrap {
      height: 160px;
    }
  }

  &_expanded {

    .inner-card__text-wrap {
      height: 100%;
    }

    .inner-card__full-image {
      height: 255px;
    }
  }

  &:hover {
    box-shadow: 0 0 32.66px 13.34px rgba(28, 40, 57, .34);
    z-index: 1;

    .inner-card__footer {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__full-image {
    height: 0;
    transition: height 1s ease-in-out;
    width: 100%;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    transition: padding .5s ease-in-out, min-height .5s ease-in-out;
  }

  &__image {
    flex-basis: 160px;
    height: 160px;
    flex-shrink: 0;
    transition: flex-basis .25s ease-in-out;

    &_big {
      flex-basis: 195px;
      height: 195px;
    }
  }

  &__text-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin: 15px 35px 30px 55px;
    overflow: hidden;
    transition: margin .25s ease-in-out;
  }

  &__expand-content {
    margin-top: auto;
    display: none;
    margin-bottom: -10px;

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .label {
      margin-right: 10px;
      margin-bottom: 10px;
      border-color: #a4b3c3;
    }
  }

  &__title {
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 17px;
    letter-spacing: -.04em;

    &_thin {
      font-weight: 100;
    }

    &_inline {
      margin-left: 15px;
    }
  }

  &__text {
    margin-bottom: 0;
    margin-top: 25px;
  }

  &__footer {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    background-color: #35475a;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease-in-out;
  }

  &__toggle-btn {
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #fff;
    letter-spacing: -.04em;
    display: flex;
    align-items: center;
    outline: none;

    svg {
      width: 25px;
      height: 15px;
      stroke: $brand-warning;
      margin-right: 12px;
      fill: transparent;
    }

    &.js-company-less {
      display: none;
    }
  }

  &__button {
    background-color: #283649;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    font-size: 22px;
    color: #fff;
    letter-spacing: -.04em;
    padding: 15px 40px 14px 18px;
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    outline: none;

    &_darken {
      background-color: #1e2d40;
    }

    &_centered {
      justify-content: center;
    }

    &:hover {
      background-color: $brand-warning;
      color: #263446;

      svg {
        stroke: #3b4d62;
      }
    }

    svg {
      width: 25px;
      height: 25px;
      fill: transparent;
      stroke: $brand-warning;
      transition: stroke .25s ease-in-out;
      margin-right: 20px;
    }

    &_push_right {
      margin-left: auto;
    }
  }

  &__popover-wrap {
    position: relative;
    height: 100%;
  }

  &__card-popover {
    position: absolute;
    top: 130%;
    transform: translateX(-50%);
    left: 50%;
  }
}
