.inner-card {
  min-height: 160px;
  position: relative;
  transition: box-shadow .25s ease-in-out, margin-bottom .25s ease-in-out;
  display: block;

  &_free {

    .inner-card__text-wrap {
      height: auto;
      align-self: stretch;
    }
  }

  &_hero {

    &.inner-card_expanded {

      .inner-card__wrap {
        padding: 55px;
        min-height: 250px;
        box-sizing: content-box;

        @media (max-width: $screen-lg-max) {
          padding: 35px;
        }
      }

      .inner-card__image {
        flex-basis: 250px;
        height: 250px;
      }

      .inner-card__text-content {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    .inner-card__footer {
      @media (max-width: $screen-lg-max) {
        flex-direction: column;
        padding-left: 0;

        .inner-card__toggle-btn {
          width: 100%;
          justify-content: center;
        }

        .inner-card__footer-buttons {
          width: 100%;

          & > .btn, .inner-card__popover-wrap {
            flex-grow: 1;
          }

          .inner-card__popover-wrap > .btn {
            width: 100%;
          }
        }
      }
    }

    .inner-card__footer-buttons {
      @media (max-width: $screen-md-max) {
        flex-wrap: wrap;

        .inner-card__popover-wrap {
          order: 1;
        }
      }
    }
  }

  .js-card-less {
    display: none;
  }

  &_border {
    border: 1px solid #e7ebee;

    .inner-card__tags {
      top: -1px;
      right: -1px;
    }
  }

  &_shadow {
    box-shadow: 1.231px 1.576px 3px 0 rgba(54, 70, 90, .06);
  }

  &_expanded {
    @media (min-width: $screen-md-min) {
      margin-bottom: 50px;
    }

    .inner-card__text-wrap {
      height: 100%;
    }

    .inner-card__full-image {
      height: 255px;
    }

    .inner-card__text-content {
      -webkit-mask-image: none;
    }

    .inner-card__footer {
      opacity: 1;
      pointer-events: all;
    }
  }

  &:hover, &.active {
    @media (min-width: $screen-md-min) {
      box-shadow: 0 0 32.66px 13.34px rgba(28, 40, 57, .34);
      z-index: 1;

      .inner-card__footer {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &.active {
    z-index: 3;
  }

  &__full-image {
    height: 0;
    transition: height 1s ease-in-out;
    width: 100%;
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    height: 160px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    transition: padding .5s ease-in-out, min-height .5s ease-in-out;

    @media (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }
  }

  &__image {
    width: 160px;
    flex-basis: 160px;
    height: 160px;
    flex-shrink: 0;
    transition: flex-basis .25s ease-in-out;

    &_big {
      flex-basis: 195px;
      height: 195px;
      width: 195px;
    }

    @media (max-width: $screen-sm-max) {
      align-self: center;
    }
  }

  &__text-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin: 20px 35px 25px 55px;
    overflow: hidden;
    transition: margin .25s ease-in-out;

    > h3 {
      flex-basis: 100%;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 500;

      @media (max-width: $screen-xs-max) {
        font-size: 20px;
      }
    }

    @media (max-width: $screen-sm-max) {
      margin: 20px;
      -webkit-mask-image: linear-gradient(to bottom, #fff 60%, transparent 100%);
    }

    @media (max-width: $screen-xs-max) {
      margin: 15px;
    }
  }

  &__subtitle {
    font-size: 17px;
    letter-spacing: -.04em;
    margin-right: 20px;

    &_thin {
      font-weight: 100;
    }

    &_inline {
      margin-right: 0;
    }
  }

  &__text {
    margin-bottom: 0;
    margin-top: 25px;

    h3 {
      margin-top: 40px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .label {
      margin-right: 10px;
      margin-bottom: 10px;
      border-color: #a4b3c3;
    }
  }

  &__footer {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #35475a;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease-in-out;

    @media (max-width: $screen-sm-max) {
      pointer-events: all;
      opacity: 1;
      flex-direction: column;
      padding-left: 0;
      align-items: stretch;
    }
  }

  &__footer-buttons {
    display: flex;

    @media (max-width: $screen-sm-max) {

      .btn {
        width: 100%;
      }
    }
  }

  &__toggle-btn {
    font-size: 16px;
    padding: 18px 0;
    border: none;
    background-color: transparent;
    color: #fff;
    letter-spacing: -.04em;
    display: flex;
    align-items: center;
    outline: none;

    @media (max-width: $screen-sm-max) {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 12px 0;
    }

    svg {
      width: 25px;
      height: 15px;
      stroke: $brand-warning;
      margin-right: 12px;
      fill: transparent;
      flex-shrink: 0;
    }

    &.js-company-less {
      display: none;
    }
  }

  &__popover-wrap {
    position: relative;
    height: 100%;
  }

  &__card-popover {
    position: absolute;
    top: calc(100% + 20px);
    transform: translateX(-50%);
    left: 50%;
    display: none;
    z-index: 1;
  }

  &__tags {
    position: absolute;
    right: 0;
    top: 0;

    time {
      font-family: $font-family-second;
      font-size: 13px;
      font-weight: 700;
      padding: 2px 10px;
      color: #9dacb9;
    }
  }
}
