.view-in {
  text-decoration: none;
  color: inherit;
  font-weight: 100;
  text-align: center;
  transition: background-color .25s ease-in-out;
  position: relative;
  display: block;

  &__content {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  &:hover {
    text-decoration: none;
    background-color: lighten($body-bg, 5%);
  }

  &_insta {

    .view-in__icon {
      fill: transparent;
      stroke: $brand-success;
    }
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    fill: $brand-success;
  }

  &__text {
    font-size: 21px;
    letter-spacing: -.04em;
  }
}
