.view-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 45px 30px 25px;
  text-decoration: none;
  color: inherit;
  font-weight: 100;
  text-align: center;
  transition: background-color .25s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: lighten($body-bg, 5%);
  }

  &_insta {

    .view-in__icon {
      fill: transparent;
      stroke: $brand-success;
    }
  }

  &__icon {
    width: 45px;
    height: 45px;
    fill: $brand-success;
  }

  &__text {
    font-size: 21px;
    letter-spacing: -.04em;
  }
}
