.top-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  left: 55px;
  top: 55px;
  background-color: #d8dfe4;
  padding: 12px 55px 2px;
  width: 100%;
  transform: translateZ(0);
  z-index: 4;

  @media (max-width: $screen-sm-max) {
    padding-left: 20px;
    padding-right: 20px;
    position: static;
    margin-top: 55px;
  }

  &__item {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
