include ../../blocks/label/label
include ../../blocks/button/button
include ../../blocks/icon-close/icon-close

mixin top-filter
  +b.top-filter&attributes(attributes)
    +label.label-primary-close.label-primary-close-transparent.top-filter__item
      a(href='#')
        +icon-close.icon-close_small
      | Graphic designer
    +label.label-primary-close.label-primary-close-transparent.top-filter__item
      a(href='#')
        +icon-close.icon-close_small
      | Riga
    +label.label-primary-close.label-primary-close-transparent.top-filter__item
      a(href='#')
        +icon-close.icon-close_small
      | Design
    +label.label-primary-close.label-primary-close-dark.top-filter__item
      a(href='#')
        +icon-close.icon-close_small
      | Clear all search criteria
    +button.btn-secondary-warning-small.top-filter__item Save search
