.account-settings {
  display: block;

  &__desktop-section {
    @media (max-width: $screen-xl-max) {
      margin-top: 40px;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 35px;
    }
  }
}
