extends ../../layouts/inner-page
include ../../blocks/page/page
include ../../blocks/input/input
include ../../blocks/button/button
include ../../components/aside-filter/aside-filter
include ../../blocks/settings-header/settings-header
include ../../blocks/inner-plate/inner-plate

block head
  - var pageTitle = 'I Am Hero - Account settings'

block aside-filter
  +aside-filter._top-none
    +aside-filter-item._no-side
      +aside-filter-heading('menu-settings') Settings
      +e.menu
        a(href='#') Heroes to suggest
        a(href='#').active Account settings
        a(href='#') Finances
        a(href='#') Notification options
        a(href='#') Invite Friends
      +button.btn-secondary-warning.btn-secondary-warning-medium.font-weight-medium.aside-filter__btn-edit Edit company page

block content
  +page._inner-medium.account-settings
    +settings-header
      +settings-header-text-wrap
        +settings-header-title-wrap
          +settings-header-icon('menu-settings')
          h3 ACCOUNT SETTINGS
        span Your account main Settings
      +settings-header-button Save
    +e.section
      .row
        .col-lg-12
          +inner-plate
            +e.H4.heading PERSONAL PAGE URL
            +e.P.subheading This is the URL of your perosnal company page.
            .form-inline
              .form-group.form-group-lg
                +input('iamhero.io/GoogleInc').form-control-warning
                span.help-block
              +button.btn-secondary-warning.form-inline-btn Save
          +inner-plate.page__section
            +e.H4.heading E-MAIL ADRESS
            +e.P.subheading this e-mail has been asociated with your account. You can change it any time
            +e.form._between
              +e.P.value-text esdesign.lv@gmail.com
              +button.btn-secondary-warning Change
        .col-lg-12.account-settings__laptop-section
          +inner-plate
            +e.H4.heading PASSWORD
            +e.P.subheading This is your global account password. You can change it any time
            form.form-vertical
              .form-group.form-group-lg
                +input('Old pasword').form-control-warning
                span.help-block
              .form-group.form-group-lg
                +input('New Password').form-control-warning
                span.help-block Password must be at least 8 symbols long
              .form-group.form-group-lg
                +input('New Password one more time').form-control-warning
                span.help-block
              +button.btn-secondary-warning Change password
