.chartjs-tooltip {
  opacity: 1;
  position: absolute;
  color: #ffc425;
  font-weight: 600;
  transition: all .1s ease;
  pointer-events: none;
  transform: translate(-50%, -25px);
  padding: 4px;
  font-family: $font-family-base;
}

.activity-chart {
  overflow-x: hidden;

  canvas {
    min-width: 500px;
  }
}
